{% extends  'base.html' %}
{% load static %}
{% block content %}
<!-- Confidential Information -->
<div class="confinfo">
    <h1>Business Information</h1>
    <p>
        Information entered here is displayed publicly to match you with the right set of investors and buyers. Do not mention business name/information which can identify the business.
    </p>
    <div class="confinf">
        <form action="/businessAdd" method="post" class="confform">
            <h1>Extra Information</h1>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="confsale">At present, what is your average monthly sales?</label>
                    <input
                        type="number"
                        class="form-control"
                        id="confsale"
                        placeholder="enter your average monthly sale"
                    >
                </div>
                <div class="form-group col-md-6">
                    <label for="confyear">What was your latest reported yearly sales?</label>
                    <input
                        type="number"
                        class="form-control"
                        id="confyear"
                        placeholder="your last year sales"
                    >
                </div>
                <div class="form-group col-md-12">
                    <label for="confprofit">What is EBITDA/ Operating Profit Margin Percentage?</label>
                    <input
                        type="text"
                        class="form-control"
                        id="confprofit"
                        placeholder="your profit margin percentage"
                    >
                </div>
                <div class="form-group col-md-12">
                    <label for="confassets">List all assets the business owns</label>
                    <input
                        type="text"
                        class="form-control"
                        id="confassets"
                        placeholder="enter your business assets"
                    >
                </div>
                <div class="form-group col-md-12">
                    <label for="confphy">What is the value of physical assets owned by the business?</label>
                    <input
                        type="number"
                        class="form-control"
                        id="confphy"
                        placeholder="enter your physical business assets value"
                    >
                </div>
                <div class="form-group col-md-4">
                    <div class="upload">
                        <label for="chooseimage">Add business and Products photos</label>
                        <input
                            type="file"
                            class="form-control-file"
                            id="chooseimage"
                            accept="image/*"
                            multiple
                            name="chooseimage"
                        >
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="upload">
                        <label for="choosedocs">Add business documents</label>
                        <input
                            type="file"
                            class="form-control-file"
                            id="choosedocs"
                            accept="application/pdf, image/*"
                            multiple
                            name="choosedocs"
                        >
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="upload">
                        <label for="choosefast">Attach proof of business for faster verification</label>
                        <input
                            type="file"
                            id="choosefast"
                            accept="image/*, application/pdf"
                            multiple
                            name="choosefast"
                        >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck3">
                    <label class="form-check-label" for="gridCheck3">
                        I'm interested in receiving quotations from Advisors/ Boutique Investment Banks who can manage this transactions.
                    </label>
                </div>
            </div>
        </form>
        <button type="submit" class="btn confbtn">Submit</button>
    </div>
</div>
<!-- ends -->
{% endblock %}
