{% extends  'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <!-- navbar -->
        {% include 'components/navbar.html' %}
        <!-- ends -->
        <!-- Business Information -->
        <div class="confinfo">
            <div class="confin">
                <form action="{% url 'businessAdd'%}" id="msform" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <h1>Confidential Information</h1>
                        <p>
                            Please enter your own details here. Information entered here is not publicly displayed.
                        </p>
                        <div class="fieldset1">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="confname">Name</label>
                                    <input
                                        type="text"
                                        class="form-control forminput"
                                        id="confname"
                                        name="confname"
                                        value="{{user.first_name}} {{user.last_name}}"
                                        placeholder="enter your name"
                                    >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="confcompany">Company</label>
                                    <input
                                        type="text"
                                        class="form-control forminput"
                                        id="confcompany"
                                        name="confcompany"
                                        placeholder="Company Name"
                                    >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="confphone">Your Mobile Number</label>
                                    <input
                                        type="text"
                                        class="form-control forminput"
                                        name="confphone"
                                        placeholder="Enter your Mobile Number"
                                    >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="confemail">Email</label>
                                    <input
                                        type="email"
                                        class="form-control forminput"
                                        id="confemail"
                                        name="confemail"
                                        value="{{user.email}}"
                                        placeholder="enter official email for quick verification"
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input
                                        class="form-check-input "
                                        type="checkbox"
                                        id="gridCheck1"
                                        name="gridCheck1"
                                        checked
                                    >
                                    <label class="form-check-label checkinput" for="gridCheck1">
                                        Display contact details to introduced members so that they can contact me directly.
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="gridCheck2">
                                    <label class="form-check-label checkinput" for="gridCheck2">
                                        Display company details to introduced members so that they can know about my company.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input
                            type="button"
                            name="next"
                            class="next action-button"
                            value="Submit"
                        >
                    </fieldset>
                    <fieldset>
                        <h1>Business Information</h1>
                        <p>
                            Information entered here is displayed publicly to match you with the right set of investors and buyers. Do not mention business name/ information which can identify the business.
                        </p>
                        <div class="fieldset1">
                            <h2>
                                <strong>Basic Information</strong>
                            </h2>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="confprof">You are a(n)</label>
                                    <input
                                        type="text"
                                        class="form-control forminput"
                                        name="confprof"
                                        placeholder="enter your profession"
                                    >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="confinterest">You are interested in</label>
                                    <input
                                        type="text"
                                        class="form-control forminput"
                                        name="confinterest"
                                        placeholder="Enter your interest"
                                    >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="confdate">When was the business established?</label>
                                    <input
                                        type="text"
                                        class="form-control forminput"
                                        name="confdate"
                                        placeholder="YYYY"
                                    >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="confind">Select business' industry</label>
                                    <input
                                        type="text"
                                        class="form-control forminput"
                                        name="confind"
                                        placeholder="enter your business' industry"
                                    >
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="confloc">Where is the business located/ headquartered?</label>
                                    <input
                                        type="text"
                                        class="form-control forminput2"
                                        name="confloc"
                                        placeholder="enter your business location"
                                    >
                                </div>
                            </div>
                        </div>
                        <input
                            type="button"
                            name="next"
                            class="next action-button"
                            value="Next"
                        >
                    </fieldset>
                    <fieldset>
                        <h1>Business Information</h1>
                        <p>
                            Information entered here is displayed publicly to match you with the right set of investors and buyers. Do not mention business name/ information which can identify the business.
                        </p>
                        <input
                            type="button"
                            name="previous"
                            class="previous action-button-previous"
                            value="GO BACK"
                        >
                        <div class="fieldset1">
                            <h2>
                                <strong>Detailed Information</strong>
                            </h2>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="confhow">How many permanent employees does the business have?</label>
                                    <input
                                        type="number"
                                        class="form-control forminput"
                                        name="confhow"
                                        placeholder="enter your profession"
                                    >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="conflegal">Select business legal entity type</label>
                                    <input
                                        type="text"
                                        class="form-control forminput"
                                        name="conflegal"
                                        placeholder="Enter your business entity type"
                                    >
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="confdes">Describe your business in a single line</label>
                                    <input
                                        type="text"
                                        class="form-control forminput2"
                                        name="confdes"
                                        placeholder="About your business"
                                    >
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="confhigh">Mention highlights of the business including number of clients, growth rate, promoter experience, business relationships, awards, etc.</label>
                                    <input
                                        type="text"
                                        class="form-control forminput2"
                                        name="confhigh"
                                        placeholder="Your Business highlights"
                                    >
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="conflist">List all products and services of the business</label>
                                    <input
                                        type="text"
                                        class="form-control forminput2"
                                        name="conflist"
                                        placeholder="All products and services list"
                                    >
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="confdes1">Describe your facility such as built-up area, number of floors, rental/ lease details</label>
                                    <input
                                        type="text"
                                        class="form-control forminput2"
                                        name="confdes1"
                                        placeholder="Your facilities"
                                    >
                                </div>
                            </div>
                        </div>
                        <input
                            type="button"
                            name="next"
                            class="next action-button"
                            value="Next"
                        >
                    </fieldset>
                    <fieldset>
                        <h1>Business Information</h1>
                        <p>
                            Information entered here is displayed publicly to match you with the right set of investors and buyers. Do not mention business name/ information which can identify the business.
                        </p>
                        <input
                            type="button"
                            name="previous"
                            class="previous action-button-previous"
                            value="GO BACK"
                        >
                        <div class="fieldset1">
                            <h2>
                                <strong>Extra Information</strong>
                            </h2>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="confsale">At present, what is your average monthly sales?</label>
                                    <input
                                        type="number"
                                        class="form-control forminput"
                                        name="confsale"
                                        placeholder="enter your average monthly sale"
                                    >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="confyear">What was your latest reported yearly sales?</label>
                                    <input
                                        type="number"
                                        class="form-control forminput"
                                        name="confyear"
                                        placeholder="your last year sales"
                                    >
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="confprofit">What is EBITDA/ Operating Profit Margin Percentage?</label>
                                    <input
                                        type="text"
                                        class="form-control forminput2"
                                        name="confprofit"
                                        placeholder="your profit margin percentage"
                                    >
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="confassets">List all assets the business owns</label>
                                    <input
                                        type="text"
                                        class="form-control forminput2"
                                        name="confassets"
                                        placeholder="enter your business assets"
                                    >
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="confphy">What is the value of physical assets owned by the business?</label>
                                    <input
                                        type="number"
                                        class="form-control forminput2"
                                        name="confphy"
                                        placeholder="enter your physical business assets value"
                                    >
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="upload">
                                        <label for="chooseimage">Add business and Products photos</label>
                                        <input
                                            type="file"
                                            class="form-control-file"
                                            name="chooseimage"
                                            accept="image/*"
                                            multiple
                                            name="chooseimage"
                                        >
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="upload">
                                        <label for="choosedocs">Add business documents</label>
                                        <input
                                            type="file"
                                            class="form-control-file"
                                            name="choosedocs"
                                            accept="application/pdf, image/*"
                                            multiple
                                            name="choosedocs"
                                        >
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="upload">
                                        <label for="choosefast">Attach proof of business for faster verification</label>
                                        <input
                                            type="file"
                                            name="choosefast"
                                            accept="image/*, application/pdf"
                                            multiple
                                            name="choosefast"
                                        >
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="gridCheck3">
                                        <label class="form-check-label" for="gridCheck3">
                                            I'm interested in receiving quotations from Advisors/ Boutique Investment Banks who can manage this transactions.
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input
                            type="submit"
                            name="submit"
                            class="submit action-button"
                            value="Submit"
                        >
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- ends -->
    </div>
</div>
<!-- ends -->
<!-- footer -->
<!-- {% include 'components/footer1.html' %} -->
<!-- ends -->
<!-- form display script -->
<script>
    $(document).ready(function(){
        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("fieldset").length;
        
        setProgressBar(current);
        
        $(".next").click(function(){
            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
                step: function(now) {
                // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({'opacity': opacity});
                },
                duration: 500
            });
            setProgressBar(++current);
        });

        $(".previous").click(function(){

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
                step: function(now) {
                // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({'opacity': opacity});
                },
                duration: 500
            });
            setProgressBar(--current);
        });

        function setProgressBar(curStep){
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width",percent+"%")
        }

        // $(".submit").click(function(){
        //     return false;
        // })

    });
</script>
<!-- ends -->
{% endblock %}
