{% extends  'base.html' %}
{% load static %}
{% block content %}
<!-- Confidential Information -->
<div class="confinfo">
    <h1>Confidential Information</h1>
    <p>
        Please enter your own details here. Information entered here is not publicly displayed.
    </p>
    <div class="confinf">
        <form action="/profile" method="post" class="confform">
            <span style="float: right;">
                <i class="fas fa-question"></i>
            </span>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="confname">Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="confname"
                        value="{{user.first_name}} {{user.last_name}}"
                        placeholder="enter your name"
                    >
                </div>
                <div class="form-group col-md-6">
                    <label for="confcomapny">Company</label>
                    <input
                        type="text"
                        class="form-control"
                        id="confcomapny"
                        placeholder="Company Name"
                    >
                </div>
                <div class="form-group col-md-6">
                    <label for="confphone">Your Mobile Number</label>
                    <input
                        type="text"
                        class="form-control"
                        id="confphone"
                        placeholder="Enter your Mobile Number"
                    >
                </div>
                <div class="form-group col-md-6">
                    <label for="confemail">Email</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        value="{{user.email}}"
                        placeholder="enter official email for quick verification"
                    >
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Display contact details to introduced members so that they can contact me directly.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck2">
                    <label class="form-check-label" for="gridCheck2">
                        Display company details to introduced members so that they can know about my company.
                    </label>
                </div>
            </div>
        </form>
        <a href="/business">
            <button type="button" class="btn confbtn">Submit</button>
        </a>
    </div>
</div>
<!-- ends -->
{% endblock %}
