/* fonts added */
@font-face {
  font-family: proxima;
  src: url(./fonts/Proxima\ Nova\ Alt\ Regular.otf);
}
/* ends */

/* scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.2em;
}
::-webkit-scrollbar-thumb {
  background: rgb(117, 117, 117);
  border-radius: 1em;
}
/* ends */

/* wrapper content and footer */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  height: fit-content;
}

.content {
  flex-grow: 1;
}
/* ends */

/* main content */
* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  font-family: proxima;
}

body,
html {
  margin: 0%;
  padding: 0%;
}

/* .container-fluid {
  background-color: aqua;
} */

.main {
  width: 95%;
  margin: 0 2.5%;
  /* background-color: aquamarine; */
}

a,
a:link,
a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(5, 36, 94);
  font-weight: bold;
}

/* ends */

/* navbar */
.logo img {
  width: 2em;
}

.menu ul {
  width: 60%;
  margin-left: 40%;
}

.menu ul li {
  margin: 0 1em;
  padding: 0 2em;
  text-align: center;
}

.login {
  background-color: rgb(230, 230, 230);
  border-radius: 0.5em;
}

.signup {
  background-color: rgb(0, 89, 255);
  border-radius: 0.5em;
}

.signup a {
  color: white;
}

.signup:hover {
  background-color: rgb(230, 230, 230);
}
/* ends */

/* homePage Section */
.homePage {
  margin: 1em 0;
  text-align: justify;
}

/* About Section */

.aboutcompany {
  margin: 5% 0;
}

.aboutcompany h1 {
  font-size: 40px;
}

.aboutcompany p {
  font-size: 16px;
}

.aboutcompany a:hover {
  text-decoration: none;
}

.aboutcompany .getstarted {
  background-color: rgb(5, 36, 94);
  padding: 0.5em 1em;
  border: 0.1em solid rgb(5, 36, 94);
  width: fit-content;
  border-radius: 0.5em;
}

.aboutcompany .getstarted a {
  color: white;
}

/* Image Section */

.aboutimg {
  position: relative;
  /* height: 100vh; to be added in mobile view */
}

.aboutimg .circle {
  background-color: rgb(142, 211, 216);
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  display: block;
  /* z-index: -1; */
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.aboutimg .img1 img {
  border: 0.1em solid black;
}

.aboutimg .imgleft img,
.aboutimg .imgright img {
  width: 30vh;
}

.aboutimg .imgleft {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.aboutimg .imgright {
  position: absolute;
  top: 65%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.aboutimg .dotimg {
  width: fit-content;
  position: absolute;
  top: 68%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.aboutimg .dotimg img {
  width: 25vh;
}
/* ends */

/* featuredIn section */

/* Active Users and User Ratings */
.userdata .activeuser,
.userdata .userratings {
  text-align: center;
}

.userdata .activeuser h1,
.userdata .userratings h1 {
  font-size: 28px;
  font-weight: bold;
}

.userdata .activeuser p,
.userdata .userratings p {
  font-size: 16px;
  font-weight: bold;
}

.userdata .activeuser i {
  color: red;
}

.userdata .userratings i {
  color: gold;
}

/* Trusted Users */
.trustedusers h1 {
  font-size: 28px;
}

.trustedusers p {
  font-size: 16px;
  font-weight: bold;
}

.trustedusers ul li {
  display: inline;
  margin: 0 5%;
}

.trustedusers img {
  width: 20%;
}

/* ends */

/* features section */

#featuredIn,
#features {
  margin-top: 2%;
}

/* Features Text */
.featuretxt {
  text-align: justify;
  padding: 5% 0;
}

.featuretxt h1 {
  font-size: 28px;
  font-weight: bold;
}

.featuretxt p {
  font-size: 16px;
}

.featuretxt ul li {
  padding: 1em 0;
}

.featuretxt ul li i {
  margin: 0 0.5em 0 0;
}

/* Features Image */
.featureimg {
  position: relative;
  height: 50vh;
}

.featureimg .circle {
  background-color: rgb(142, 211, 216);
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  display: block;
  /* z-index: -1; */
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.featureimg .imgleft img {
  border: 0.1em solid black;
  width: 30vh;
}

.featureimg .imgright img {
  width: 50vh;
  border-radius: 1em;
}

.featureimg .imgleft {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
  box-shadow: 0.2em 0.2em 0.5em rgb(22, 22, 22);
}

.featureimg .imgright {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  box-shadow: 0.2em 0.2em 0.2em rgb(22, 22, 22);
  border-radius: 1em;
}
/* ends */

/* how it works section */
.howitheader {
  position: relative;
}

.howitheader h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.howitheader img {
  position: absolute;
  width: 25vh;
}

.howimg1 {
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.howimg2 {
  top: 65%;
  left: 73%;
  transform: translate(-50%, -50%);
}

.howitheader .div1,
.howitheader .div2,
.howitheader .div3 {
  padding: 1em;
}

.howitheader .div2 {
  margin: 25vh 0 0 0;
}

.howitheader .div3 {
  margin: 50vh 0 0 0;
}

.howitheader .div1 h2,
.howitheader .div2 h2,
.howitheader .div3 h2 {
  text-align: center;
}

.howitheader .div1 p,
.howitheader .div2 p,
.howitheader .div3 p {
  text-align: justify;
  width: 90%;
  margin: 0 5%;
}
/* ends */

/* Investors Section */
.invest,
.entre {
  text-align: center;
  margin: 2% 0;
}

.invest h1,
.entre h1 {
  font-size: 30px;
}

.invest p,
.entre p {
  font-size: 16px;
}

.invest p span a,
.entre p span a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

/* ends */

/* Plans Section */
.plans h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.plans p {
  text-align: center;
  font-size: 16px;
}

.plans h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.plans h4 {
  margin: 1em 0;
  font-size: 16px;
  text-align: center;
}

.plans h4 span {
  font-size: 30px;
  font-weight: bold;
}

.planbox {
  height: 70vh;
  width: 60%;
  border: 0.2em solid black;
  border-radius: 1em;
  padding: 2em;
}

.pb1 {
  margin: 2% 40%;
}
.pb1 ul li {
  padding: 7.5% 0;
}

.pb2 ul li {
  padding: 3% 0;
}

.pb3 ul li {
  padding: 1.2% 0;
}

.pb1 p,
.pb2 p,
.pb3 p {
  padding: 1em 0;
}

.pb1 p span,
.pb2 p span,
.pb3 p span {
  background-color: rgb(5, 36, 94);
  padding: 1em 3em;
  border: 0.1em solid rgb(5, 36, 94);
  border-radius: 0.5em;
  color: azure;
  font-weight: bold;
}

.pb2 {
  position: relative;
  margin: 2% 20%;
}

.pb2 .ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.pb2 .ribbon::before,
.pb2 .ribbon::after {
  z-index: -1;
  display: block;
  position: absolute;
  content: "";
}

.pb2 .ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 2px 0;
  background-color: rgb(5, 36, 94);
  box-shadow: 0 0.2em 0.5em rgba(2, 2, 99, 0.63);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.6em;
  font-weight: bolder;
}

/* ribbon top right*/
.pb2 .ribbon-top-right {
  top: 0px;
  right: 0px;
}
.pb2 .ribbon-top-right::before,
.pb2 .ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.pb2 .ribbon-top-right::before {
  top: 0;
  left: 0;
}
.pb2 .ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.pb2 .ribbon-top-right span {
  left: -10px;
  top: 20px;
  transform: rotate(45deg);
}

.pb3 {
  margin: 2% 40% 2% 0;
}

/* ends */

/* footer */
footer {
  margin-top: 2%;
}

footer .inputsubs input {
  height: 5vh;
}

footer h2 {
  font-size: 28px;
}

footer p {
  font-size: 16px;
}

footer .inputsubs span button {
  background-color: rgb(5, 36, 94);
  height: 5vh;
  text-align: center;
  border: 0.1em solid rgb(5, 36, 94);
  margin: 0 0 0 0.5em;
  padding: 0 1em;
  color: white;
  font-size: 16px;
}

footer a:hover {
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
/* footer ends */

/* Media Queries */
/* Extra Small devices*/
@media screen and (max-width: 600px) {
  /* navbar */
  .menu ul {
    width: 100%;
    margin-left: 0%;
  }

  .menu ul li {
    margin: 0.5em 1em;
    padding: 0 2em;
    text-align: center;
  }
  /* ends */

  /* homePage Section */
  .homePage {
    margin: 1em 0;
    text-align: justify;
  }

  /* Image Section */

  .aboutimg {
    position: relative;
    height: 60vh;
  }

  .aboutimg .circle {
    background-color: rgb(142, 211, 216);
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    display: block;
    /* z-index: -1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .aboutimg .imgleft {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .aboutimg .imgright {
    position: absolute;
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%);
  }

  .aboutimg .dotimg {
    width: fit-content;
    position: absolute;
    top: 68%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .aboutimg .dotimg img {
    width: 22vh;
  }
  /* ends */

  /* featuredIn section */
  /* Trusted Users */
  .trustedusers h1 {
    font-size: 28px;
    text-align: center;
  }

  .trustedusers p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .trustedusers ul li {
    display: inline;
    margin: 0 3%;
  }

  .trustedusers img {
    width: 25%;
  }

  /* ends */

  /* features section */

  #featuredIn,
  #features {
    margin-top: 2%;
  }

  /* Features Text */

  .featuretxt ul li {
    padding: 0.5em 0;
  }

  /* Features Image */
  .featureimg {
    position: relative;
    height: 50vh;
    margin: 0 0 5% 0;
  }

  .featureimg .circle {
    background-color: rgb(142, 211, 216);
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    display: block;
    /* z-index: -1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .featureimg .imgleft img {
    border: 0.1em solid black;
    width: 25vh;
  }

  .featureimg .imgleft {
    position: absolute;
    top: 30%;
    left: 28%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0.2em 0.2em 0.5em rgb(22, 22, 22);
  }
  .featureimg .imgright img {
    border: 0.1em solid black;
    width: 45vh;
  }

  /* ends */

  /* how it works section */
  .howitheader {
    position: relative;
  }

  .howitheader h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .howitheader img {
    position: absolute;
    width: 25vh;
    transform: rotate(45deg);
  }

  .howimg1 {
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .howimg2 {
    top: 68%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .howitheader .div1,
  .howitheader .div2,
  .howitheader .div3 {
    padding: 1em;
  }

  .howitheader .div2 {
    margin: 25vh 0 0 0;
  }

  .howitheader .div3 {
    margin: 28vh 0 0 0;
  }

  /* ends */

  /* Plans Section */
  .plans h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .plans p {
    text-align: center;
    font-size: 16px;
  }

  .plans h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .plans h4 {
    margin: 1em 0;
    font-size: 16px;
    text-align: center;
  }

  .plans h4 span {
    font-size: 30px;
    font-weight: bold;
  }

  .planbox {
    height: fit-content;
    width: 100%;
    border: 0.2em solid black;
    border-radius: 1em;
    padding: 2em;
  }

  .pb1,
  .pb2,
  .pb3 {
    margin: 5% 0%;
  }

  /* ends */

  /* footer */
  footer {
    margin: 2% 0 3% 0;
  }
  /* footer ends */
  /* Media Query 411px and 414px */
  @media (min-width: 411px) and (max-width: 414px) {
    /* how it works section */
    .howimg1 {
      top: 35%;
      left: 30%;
      transform: translate(-50%, -50%);
    }

    .howimg2 {
      top: 68%;
      left: 30%;
      transform: translate(-50%, -50%);
    }

    .howitheader .div1,
    .howitheader .div2,
    .howitheader .div3 {
      padding: 1em;
    }

    .howitheader .div2 {
      margin: 25vh 0 0 0;
    }

    .howitheader .div3 {
      margin: 25vh 0 0 0;
    }

    /* ends */
  }
  /* ends */
  /* Media Query 411px and 414px */
  @media (width: 320px) {
    /* how it works section */
    .howimg1 {
      top: 38%;
      left: 30%;
      transform: translate(-50%, -50%);
    }

    .howimg2 {
      top: 70%;
      left: 30%;
      transform: translate(-50%, -50%);
    }
    /* ends */
  }
  /* ends */
}
/* Small devices*/
@media screen and (min-width: 601px) and (max-width: 767.98px) {
  /* navbar */
  .menu ul {
    width: 100%;
    margin-left: 0%;
  }

  .menu ul li {
    margin: 0.5em 1em;
    padding: 0 2em;
    text-align: center;
  }
  /* ends */

  /* homePage Section */
  .homePage {
    margin: 1em 0;
    text-align: justify;
  }

  /* Image Section */

  .aboutimg {
    position: relative;
    height: 60vh;
  }

  .aboutimg .circle {
    background-color: rgb(142, 211, 216);
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    display: block;
    /* z-index: -1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .aboutimg .imgleft {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .aboutimg .imgright {
    position: absolute;
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%);
  }

  .aboutimg .dotimg {
    width: fit-content;
    position: absolute;
    top: 68%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .aboutimg .dotimg img {
    width: 22vh;
  }
  /* ends */

  /* featuredIn section */
  /* Trusted Users */
  .trustedusers h1 {
    font-size: 28px;
    text-align: center;
  }

  .trustedusers p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .trustedusers ul li {
    display: inline;
    margin: 0 3%;
  }

  .trustedusers img {
    width: 25%;
  }

  /* ends */

  /* features section */

  #featuredIn,
  #features {
    margin-top: 2%;
  }

  /* Features Text */

  .featuretxt ul li {
    padding: 0.5em 0;
  }

  /* Features Image */
  .featureimg {
    position: relative;
    height: 50vh;
    margin: 0 0 5% 0;
  }

  .featureimg .circle {
    background-color: rgb(142, 211, 216);
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    display: block;
    /* z-index: -1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .featureimg .imgleft img {
    border: 0.1em solid black;
    width: 25vh;
  }

  .featureimg .imgleft {
    position: absolute;
    top: 30%;
    left: 28%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0.2em 0.2em 0.5em rgb(22, 22, 22);
  }

  /* ends */

  /* how it works section */
  .howitheader {
    position: relative;
  }

  .howitheader h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .howitheader img {
    position: absolute;
    width: 25vh;
    transform: rotate(45deg);
  }

  .howimg1 {
    top: 28%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .howimg2 {
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .howitheader .div1,
  .howitheader .div2,
  .howitheader .div3 {
    padding: 1em;
  }

  .howitheader .div2 {
    margin: 25vh 0 0 0;
  }

  .howitheader .div3 {
    margin: 28vh 0 0 0;
  }

  /* ends */

  /* Plans Section */
  .plans h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .plans p {
    text-align: center;
    font-size: 16px;
  }

  .plans h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .plans h4 {
    margin: 1em 0;
    font-size: 16px;
    text-align: center;
  }

  .plans h4 span {
    font-size: 30px;
    font-weight: bold;
  }

  .planbox {
    height: fit-content;
    width: 100%;
    border: 0.2em solid black;
    border-radius: 1em;
    padding: 2em;
  }

  .pb1,
  .pb2,
  .pb3 {
    margin: 5% 0%;
  }

  /* ends */

  /* footer */
  footer {
    margin: 2% 0 3% 0;
  }
  /* footer ends */
}

/* Medium devices*/
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  /* navbar */
  .menu ul {
    width: 100%;
    margin-left: 0%;
  }

  .menu ul li {
    margin: 0.5em 1em;
    padding: 0 2em;
    text-align: center;
  }
  /* ends */

  /* homePage Section */
  .homePage {
    margin: 1em 0;
    text-align: justify;
  }

  /* Image Section */

  .aboutimg {
    position: relative;
    height: 60vh;
    margin: auto;
  }

  .aboutimg .circle {
    background-color: rgb(142, 211, 216);
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    display: block;
    /* z-index: -1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .aboutimg .imgleft {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .aboutimg .imgright {
    position: absolute;
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%);
  }

  .aboutimg .dotimg {
    width: fit-content;
    position: absolute;
    top: 68%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .aboutimg .dotimg img {
    width: 22vh;
  }
  /* ends */

  /* featuredIn section */
  /* Trusted Users */
  .trustedusers h1 {
    font-size: 28px;
    text-align: center;
  }

  .trustedusers p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .trustedusers ul li {
    display: inline;
    margin: 0 3%;
  }

  .trustedusers img {
    width: 25%;
  }

  /* ends */

  /* features section */

  #featuredIn,
  #features {
    margin-top: 2%;
  }

  /* Features Text */

  .featuretxt ul li {
    padding: 0.5em 0;
  }

  /* Features Image */
  .featureimg {
    position: relative;
    height: 50vh;
    margin: 0 0 5% 0;
  }

  .featureimg .circle {
    background-color: rgb(142, 211, 216);
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    display: block;
    /* z-index: -1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .featureimg .imgleft img {
    border: 0.1em solid black;
    width: 25vh;
  }

  .featureimg .imgleft {
    position: absolute;
    top: 30%;
    left: 28%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0.2em 0.2em 0.5em rgb(22, 22, 22);
  }

  /* ends */

  /* how it works section */
  .howitheader {
    position: relative;
  }

  .howitheader h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .howitheader img {
    position: absolute;
    width: 25vh;
    transform: rotate(45deg);
  }

  .howimg1 {
    top: 28%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .howimg2 {
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .howitheader .div1,
  .howitheader .div2,
  .howitheader .div3 {
    padding: 1em;
  }

  .howitheader .div2 {
    margin: 25vh 0 0 0;
  }

  .howitheader .div3 {
    margin: 28vh 0 0 0;
  }

  /* ends */

  /* Plans Section */
  .plans h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .plans p {
    text-align: center;
    font-size: 16px;
  }

  .plans h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .plans h4 {
    margin: 1em 0;
    font-size: 16px;
    text-align: center;
  }

  .plans h4 span {
    font-size: 30px;
    font-weight: bold;
  }

  .planbox {
    height: fit-content;
    width: 100%;
    border: 0.2em solid black;
    border-radius: 1em;
    padding: 2em;
  }

  .pb1,
  .pb2,
  .pb3 {
    margin: 5% 0%;
  }

  /* ends */

  /* footer */
  footer {
    margin: 2% 0 3% 0;
  }
  /* footer ends */
}

/* Large devices */
