{% extends  'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="main">
        <div class="wrapper">
            <div class="content">
                <!-- navbar -->
                {% include 'components/navbar.html' %}
                <!-- ends -->
                <!-- Login -->
                <div class="logindetails">
                    <div class="row">
                        <div class="col-sm-12 col-md-aut col-lg-6">
                            <h1>SignUp Image Here!!</h1>
                        </div>
                        <div class="col-sm-12 col-md-aut col-lg-6">
                            <h1>SignUp to Firmingle</h1>
                            {% if messages %}

                            {% for message in messages %}
                            <div class="alert alert-info">
                                {{ message }}
                            </div>
                            {% endfor %}
                            
                            {% endif %}
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="exampleInputEmail1"
                                        aria-describedby="emailHelp"
                                    >
                                    <small id="emailHelp" class="form-text text-muted">
                                        We'll never share your email with anyone else.
                                    </small
                    >
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <a href="#">
                                    <p>Forgot Password?</p>
                                </a>
                                <button type="submit" class="btn btn-primary btn-block mt-2">Sign in</button>
                                <div class="sign-up mt-2">
                                    Already have an account?
                                    <a href="{% url 'login'%}">Login Here</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ends -->
            </div>
            <!-- footer -->
            {% include 'components/footer.html' %}
            <!-- ends -->
        </div>
    </div>
</div>
{% endblock %}
