.confinfo {
  margin: 2em 0;
  padding: 2em 5%;
}

.confin {
  padding: 1em 0;
}

#msform {
  text-align: justify;
  position: relative;
  width: 100%;
  padding: 1em 0;
}

#msform fieldset {
  position: relative;
  padding: 1em 0;
}

#msform .fieldset1 {
  background: white;
  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 2em;
  box-shadow: 0em 0em 0.2em rgba(59, 59, 59, 0.308);
}

.fieldset1 h2 {
  margin-bottom: 1em;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input,
#msform select {
  border: none;
  border-radius: 0;
}

#msform .forminput,
#msform select {
  padding: 15px 0;
  margin-bottom: 10px;
  color: #2c3e50;
  font-size: 16px;
  width: 90%;
  border-bottom: 0.1em solid black;
}

#msform .forminput2 {
  padding: 15px 0;
  margin-bottom: 10px;
  color: #2c3e50;
  font-size: 16px;
  width: 95%;
  border-bottom: 0.1em solid black;
}

#msform .fieldset1 input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 0.15em solid black;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

#msform .action-button {
  width: 100%;
  background: #3aafa9;
  font-weight: bold;
  color: white;
  border-radius: 0.2em;
  border: 0.1em solid #3aafa9;
  cursor: pointer;
  padding: 1em 0;
  margin: 2em 0 0 0;
  text-transform: uppercase;
}

#msform .action-button:hover,
#msform .action-button:focus {
  background: #135f5b;
  border: 0.1em solid #135f5b;
}

#msform .action-button-previous {
  width: 100px;
  font-weight: bold;
  color: #3aafa9;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  float: right;
  margin: 1% 2%;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  color: #135f5b;
  background-color: transparent;
  text-decoration: none;
}

/* Check Box */
.checkinput {
  margin-left: 0.5em;
  font-size: 18px;
}

/* ends */

/* Investor form */
/*form styles*/
.coninvest #msform {
  /* Form Id*/
  position: relative;
  margin-top: 30px;
  margin-bottom: 3em;
}

.coninvest #msform fieldset {
  /* Fieldset */
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
.coninvest #msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
.coninvest #msform input,
.coninvest #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

.coninvest #msform input:focus,
.coninvest #msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ee0979;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
.coninvest #msform .action-button {
  width: 100px;
  background: #ee0979;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.coninvest #msform .action-button:hover,
.coninvest #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

.coninvest #msform .action-button-previous {
  width: 100px;
  background: #c5c5f1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.coninvest #msform .action-button-previous:hover,
.coninvest #msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #c5c5f1;
}

/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
