/* Media Queries */
/* Devices (992 to 1199.98px)*/
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* navbar */
  .logo {
    width: 20%;
  }

  .menu ul {
    width: 100%;
    margin-left: 0%;
  }

  .menu ul li {
    margin: auto;
    font-size: 18px;
  }

  .menu ul li:nth-child(1),
  .menu ul li:nth-child(2),
  .menu ul li:nth-child(3),
  .menu ul li:nth-child(4) {
    padding: 0 0.5em;
  }

  .menu ul li:nth-child(5),
  .menu ul li:nth-child(6) {
    margin: auto 2%;
    padding: 0 2em;
  }
  /* ends */

  /* Login SignUp Modal */

  .loginpop h4,
  .signuppop h4 {
    font-weight: bold;
  }

  .modallogo {
    width: 100%;
    margin: 0 0 0.5em 0%;
  }

  .modal-content {
    border-radius: 1em;
  }

  .close {
    transform: scale(1.5);
  }

  .loginpop .sign-up span,
  .signuppop .sign-up span {
    margin-top: 1em;
    cursor: pointer;
  }

  .loginpop .sign-up span:hover,
  .signuppop .sign-up span:hover {
    color: rgb(5, 36, 94);
    font-weight: 600;
  }

  /* Login SignUp Modal ends */

  /* footer */
  footer {
    margin: 1% 0%;
  }

  footer .inputsubs input {
    height: 5vh;
  }

  footer h2 {
    font-size: 28px;
  }

  footer p {
    font-size: 16px;
  }

  footer .inputsubs span button {
    background-color: #3aafa9;
    height: 5vh;
    text-align: center;
    border: 0.1em solid #3aafa9;
    margin: 0 0.5em 0 0.5em;
    padding: 0 1em;
    color: white;
    font-size: 18px;
  }

  footer .inputsubs span button:hover {
    color: rgb(5, 36, 94);
    font-weight: 600;
  }

  footer a:hover {
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  /* footer ends */

  /* about Img */
  .aboutimg {
    margin: auto;
  }
  /* ends */

  /* featuredIn section */
  #featuredIn {
    background-color: #def2f1;
  }

  /* Active Users and User Ratings */
  .userdata .activeuser,
  .userdata .userratings {
    text-align: center;
  }

  .userdata .activeuser h1,
  .userdata .userratings h1 {
    font-size: 40px;
    font-weight: bold;
  }

  .userdata .activeuser p,
  .userdata .userratings p {
    font-size: 16px;
    font-weight: bold;
  }

  /* Trusted Users */
  .trustedusers {
    padding: 3% 0;
  }

  .trustedusers img {
    width: 20%;
  }
  /* ends */

  /* Features Section */

  .featureimg img {
    margin: 2% auto;
  }
  /* ends */

  /* how it works section */
  .howitrow .col-lg-4 .howimg2 {
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translate(-50%, -50%);
  }

  .div1 {
    text-align: left;
    width: 70%;
    margin: 0 0 0 10%;
  }

  .div2 {
    text-align: left;
    width: 70%;
    margin: 0 0 0 20%;
  }

  .div3 {
    text-align: left;
    width: 70%;
    margin: 0 0 0 30%;
  }
  /* ends */
  /* Our Investors */
  .investbox .ibox {
    background-color: #def2f1;
    width: 100%;
    margin: 3% auto;
    padding: 3%;
    border-radius: 0.5em;
  }
  .investbox .iproimg img {
    width: 100%;
    margin: auto;
  }
  .investbox .tweetboximg img {
    width: 100%;
    margin: 0 0%;
  }
  /* ends */

  /* Dashboard */
  .dash {
    margin: 2% 0;
  }

  .profilebx {
    background-color: white;
    margin: 10% 0;
    padding: 5% 0;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
  }

  .profileimg .proimg img {
    width: 100%;
    margin: 3% 0%;
  }

  .profileimg .protxt {
    padding: 8% 0%;
  }

  .profileimg .protxt span {
    color: rgb(59, 59, 59);
    margin: 0 -4em;
  }

  .profileimg .proedit {
    padding: 2% 7%;
  }

  .profileimg .proedit i {
    font-size: 24px;
    float: right;
  }

  .profileinfo ul li {
    display: inline-block;
    width: 100%;
    text-align: justify;
    margin: 0% 0%;
  }

  .profileinfo ul li h1 {
    font-size: 20px;
    padding: 0 10%;
  }

  .profileinfo ul li p {
    font-size: 14px;
    padding: 0 10%;
  }

  .profilebx hr {
    background-color: rgba(59, 59, 59, 0.808);
    width: 90%;
    margin: 2% 5%;
  }

  .prodetail ul li {
    display: inline-block;
    width: fit-content;
    margin: 0% 10%;
    padding: 0 2%;
    text-align: center;
  }

  .profilebx .btnpro {
    margin: 5% 0% 0% 0%;
    text-align: center;
  }

  .profilebx .probtn {
    padding: 2% 5%;
    margin: 0% 0%;
    background-color: #3aafa9;
    color: white;
    border-radius: 0.5em;
  }

  /* Recent Articles */
  .recentboard h1 {
    font-size: 30px;
  }

  .recentboard span {
    font-size: 24px;
  }

  .recentboard p {
    font-size: 16px;
  }

  .recentbx {
    background-color: white;
    border-radius: 1em;
    padding: 0 5%;
    margin: 0 0 5% 0;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
  }

  .recentbximg {
    width: 100%;
    border-radius: 1em;
    padding: 5% 0 0 0;
  }

  .recentbximg img {
    width: 100%;
    height: 50%;
    border-radius: 1em;
  }

  .recentbxtxt {
    padding: 0 0 0.5em 0;
  }
  /* ends */

  /* News Board */

  .newsboard {
    padding: 0 2% 2% 2%;
  }

  .newsboard .latestbx {
    background-color: white;
    padding: 3% 3% 2% 5%;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
    margin: 3% 0;
  }

  .newsboard h1 {
    font-size: 30px;
    font-weight: bold;
  }

  .newsboard h2 {
    font-size: 30px;
  }

  .newsboard p {
    font-size: 16px;
  }
  .newsboard .welcomebx ul li p {
    background-color: white;
    width: fit-content;
    padding: 5% 0%;
    font-size: 16px;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
    border: 0.1em solid #3aafa9;
    margin: 2% 0 0 0;
  }

  .newsboard .welcomebx ul li p i {
    font-size: 50px;
    float: left;
    margin: 5% 5%;
    color: #3aafa9;
  }

  .newsboard .latestbx ul li {
    display: inline-block;
    width: 45%;
  }

  .newsboard .latestbx span {
    margin: 0.5em 0 !important;
  }

  /* ends */
}

/* Large Devices (1200px to 1439.98) */
@media screen and (min-width: 1200px) and (max-width: 1439.98px) {
  /* navbar */
  .logo {
    width: 20%;
  }

  .menu ul {
    width: 80%;
    margin-left: 20%;
  }

  .menu ul li {
    margin: auto;
    font-size: 18px;
  }

  .menu ul li:nth-child(1),
  .menu ul li:nth-child(2),
  .menu ul li:nth-child(3),
  .menu ul li:nth-child(4) {
    padding: 0 0.5em;
  }

  .menu ul li:nth-child(5),
  .menu ul li:nth-child(6) {
    margin: auto 2%;
    padding: 0 2em;
  }
  /* ends */

  /* Login SignUp Modal */

  .loginpop h4,
  .signuppop h4 {
    font-weight: bold;
  }

  .modallogo {
    width: 100%;
    margin: 0 0 0.5em 0%;
  }

  .modal-content {
    border-radius: 1em;
  }

  .close {
    transform: scale(1.5);
  }

  .loginpop .sign-up span,
  .signuppop .sign-up span {
    margin-top: 1em;
    cursor: pointer;
  }

  .loginpop .sign-up span:hover,
  .signuppop .sign-up span:hover {
    color: rgb(5, 36, 94);
    font-weight: 600;
  }

  /* Login SignUp Modal ends */

  /* footer */
  footer {
    margin: 1% 0%;
  }

  footer .inputsubs input {
    height: 5vh;
  }

  footer h2 {
    font-size: 28px;
  }

  footer p {
    font-size: 16px;
  }

  footer .inputsubs span button {
    background-color: #3aafa9;
    height: 5vh;
    text-align: center;
    border: 0.1em solid #3aafa9;
    margin: 0 0.5em 0 0.5em;
    padding: 0 1em;
    color: white;
    font-size: 18px;
  }

  footer .inputsubs span button:hover {
    color: rgb(5, 36, 94);
    font-weight: 600;
  }

  footer a:hover {
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  /* footer ends */

  /* about Img */
  .aboutimg {
    margin: auto;
  }
  /* ends */

  /* featuredIn section */
  #featuredIn {
    background-color: #def2f1;
  }

  /* Active Users and User Ratings */
  .userdata .activeuser,
  .userdata .userratings {
    text-align: center;
  }

  .userdata .activeuser h1,
  .userdata .userratings h1 {
    font-size: 40px;
    font-weight: bold;
  }

  .userdata .activeuser p,
  .userdata .userratings p {
    font-size: 16px;
    font-weight: bold;
  }

  /* .userdata .activeuser i {
  color: red;
}

.userdata .userratings i {
  color: gold;
} */

  /* Trusted Users */
  .trustedusers {
    padding: 3% 0;
  }

  .trustedusers img {
    width: 20%;
  }
  /* ends */

  /* Features Section */

  .featureimg img {
    margin: 2% auto;
  }
  /* ends */

  /* how it works section */
  .howitrow .col-lg-4 .howimg2 {
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translate(-50%, -50%);
  }

  .div1 {
    text-align: left;
    width: 70%;
    margin: 0 0 0 10%;
  }

  .div2 {
    text-align: left;
    width: 70%;
    margin: 0 0 0 20%;
  }

  .div3 {
    text-align: left;
    width: 70%;
    margin: 0 0 0 30%;
  }
  /* ends */
  /* Our Investors */
  .investbox .ibox {
    background-color: #def2f1;
    width: 100%;
    margin: 3% auto;
    padding: 3%;
    border-radius: 0.5em;
  }

  .investbox .iproimg img {
    width: 100%;
    margin: auto;
  }
  .investbox .tweetboximg img {
    width: 100%;
    margin: 0 0%;
  }
  /* ends */

  /* Dashboard */
  .dash {
    margin: 2% 0;
  }

  .profilebx {
    background-color: white;
    margin: 10% 0;
    padding: 5% 0;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
  }

  .profileimg .proimg img {
    width: 100%;
    margin: 3% 0%;
  }

  .profileimg .protxt {
    padding: 0% 0%;
  }

  .profileimg .protxt span {
    color: rgb(59, 59, 59);
    margin: 0 -1em;
  }

  .profileimg .proedit {
    padding: 2% 0%;
  }

  .profileimg .proedit i {
    font-size: 18px;
    float: right;
    margin: -2% 1em;
  }

  .profileinfo ul li {
    display: inline-block;
    width: 100%;
    text-align: justify;
    margin: 0% 0%;
  }

  .profileinfo ul li h1 {
    font-size: 20px;
    padding: 0 10%;
  }

  .profileinfo ul li p {
    font-size: 14px;
    padding: 0 10%;
  }

  .profilebx hr {
    background-color: rgba(59, 59, 59, 0.808);
    width: 90%;
    margin: 2% 5%;
  }

  .prodetail ul li {
    display: inline-block;
    width: fit-content;
    margin: 0% 10%;
    padding: 0 2%;
    text-align: center;
  }

  .profilebx .btnpro {
    margin: 5% 0% 0% 0%;
    text-align: center;
  }

  .profilebx .probtn {
    padding: 2% 5%;
    margin: 0% 0%;
    background-color: #3aafa9;
    color: white;
    border-radius: 0.5em;
  }

  /* Recent Articles */
  .recentboard h1 {
    font-size: 30px;
  }

  .recentboard span {
    font-size: 18px;
  }

  .recentboard p {
    font-size: 16px;
  }

  .recentbx {
    background-color: white;
    border-radius: 1em;
    padding: 0 5%;
    margin: 0 0 5% 0;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
  }

  .recentbximg {
    width: 100%;
    border-radius: 1em;
    padding: 5% 0 0 0;
  }

  .recentbximg img {
    width: 100%;
    height: 50%;
    border-radius: 1em;
  }

  .recentbxtxt {
    padding: 0 0 0.5em 0;
  }
  /* ends */

  /* News Board */

  .newsboard {
    padding: 0 2% 2% 2%;
  }

  .newsboard .latestbx {
    background-color: white;
    padding: 3% 3% 2% 5%;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
    margin: 3% 0;
  }

  .newsboard h1 {
    font-size: 30px;
    font-weight: bold;
  }

  .newsboard h2 {
    font-size: 30px;
  }

  .newsboard p {
    font-size: 16px;
  }
  .newsboard .welcomebx ul li p {
    background-color: white;
    width: fit-content;
    padding: 5% 3%;
    font-size: 16px;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
    border: 0.1em solid #3aafa9;
    margin: 2% 0 0 0;
  }

  .newsboard .welcomebx ul li p i {
    font-size: 50px;
    float: left;
    margin: 1% 5%;
    color: #3aafa9;
  }

  .newsboard .latestbx ul li {
    display: inline-block;
    width: 45%;
  }

  .newsboard .latestbx span {
    margin: 0.5em 0 !important;
  }

  /* ends */
}

/* Extra Large Devices (1440px and above) */
@media screen and (min-width: 1440px) and (max-width: 1779.98px) {
  /* navbar */
  .logo {
    width: 15%;
  }

  .menu ul {
    width: 60%;
    margin-left: 40%;
  }

  .menu ul li {
    margin: auto;
    font-size: 18px;
  }

  .menu ul li:nth-child(1),
  .menu ul li:nth-child(2),
  .menu ul li:nth-child(3),
  .menu ul li:nth-child(4) {
    padding: 0 0.5em;
  }

  .menu ul li:nth-child(5),
  .menu ul li:nth-child(6) {
    margin: auto 2%;
    padding: 0 2em;
  }
  /* ends */

  /* Login SignUp Modal */

  .loginpop h4,
  .signuppop h4 {
    font-weight: bold;
  }

  .modallogo {
    width: 100%;
    margin: 0 0 0.5em 0%;
  }

  .modal-content {
    border-radius: 1em;
  }

  .close {
    transform: scale(1.5);
  }

  .loginpop .sign-up span,
  .signuppop .sign-up span {
    margin-top: 1em;
    cursor: pointer;
  }

  .loginpop .sign-up span:hover,
  .signuppop .sign-up span:hover {
    color: rgb(5, 36, 94);
    font-weight: 600;
  }

  /* Login SignUp Modal ends */

  /* footer */
  footer {
    margin: 1% 0%;
  }

  footer .inputsubs input {
    height: 5vh;
  }

  footer h2 {
    font-size: 28px;
  }

  footer p {
    font-size: 16px;
  }

  footer .inputsubs span button {
    background-color: #3aafa9;
    height: 5vh;
    text-align: center;
    border: 0.1em solid #3aafa9;
    margin: 0 0.5em 0 0.5em;
    padding: 0 1em;
    color: white;
    font-size: 18px;
  }

  footer .inputsubs span button:hover {
    color: rgb(5, 36, 94);
    font-weight: 600;
  }

  footer a:hover {
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  /* footer ends */

  /* about Img */
  .aboutimg {
    margin: auto;
  }
  /* ends */

  /* featuredIn section */
  #featuredIn {
    background-color: #def2f1;
  }

  /* Active Users and User Ratings */
  .userdata .activeuser,
  .userdata .userratings {
    text-align: center;
  }

  .userdata .activeuser h1,
  .userdata .userratings h1 {
    font-size: 40px;
    font-weight: bold;
  }

  .userdata .activeuser p,
  .userdata .userratings p {
    font-size: 16px;
    font-weight: bold;
  }

  /* .userdata .activeuser i {
  color: red;
}

.userdata .userratings i {
  color: gold;
} */

  /* Trusted Users */
  .trustedusers {
    padding: 3% 0;
  }

  .trustedusers img {
    width: 20%;
  }
  /* ends */

  /* Features Section */

  .featureimg img {
    margin: 2% 20%;
  }
  /* ends */

  /* how it works section */
  .howitrow .col-lg-4 .howimg2 {
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translate(-50%, -50%);
  }

  .div1 {
    text-align: left;
    width: 70%;
    margin: 0 0 0 10%;
  }

  .div2 {
    text-align: left;
    width: 70%;
    margin: 0 0 0 20%;
  }

  .div3 {
    text-align: left;
    width: 70%;
    margin: 0 0 0 30%;
  }
  /* ends */
  /* Our Investors */
  .investbox .ibox {
    background-color: #def2f1;
    width: 100%;
    margin: 3% auto;
    padding: 3%;
    border-radius: 0.5em;
  }
  .investbox .iproimg img {
    width: 100%;
    margin: auto;
  }
  .investbox .tweetboximg img {
    width: 90%;
    margin: 0 5%;
  }
  /* ends */

  .profilebx .btnpro {
    margin: 5% 0% 0% 0%;
    text-align: center;
  }

  .profilebx .probtn {
    padding: 2% 5%;
    margin: 0% 0%;
    background-color: #3aafa9;
    color: white;
    border-radius: 0.5em;
    width: 100%;
  }
}
