/* homePage Section */
.homePage {
  margin: 1em 0;
  text-align: justify;
}

/* About Section */
.aboutcompany {
  margin: 10% 1em;
  width: 90%;
}

.aboutcompany h1 {
  font-size: 40px;
  font-weight: bold;
}

.aboutcompany p {
  font-size: 16px;
}

.aboutcompany a:hover {
  text-decoration: none;
}

.aboutcompany .getstarted {
  background-color: #3aafa9;
  padding: 1em 1em;
  border: 0.1em solid #3aafa9;
  width: fit-content;
  border-radius: 0.5em;
}

.aboutcompany .getstarted a {
  color: white;
}

/* Image Section */
.aboutimg img {
  width: 100%;
}

/* .aboutimg {
  position: relative;
}

.aboutimg .circle {
  background-color: rgb(142, 211, 216);
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
} */
/* 
.aboutimg .img1 img {
  border: 0.1em solid black;
}

.aboutimg .imgleft img,
.aboutimg .imgright img {
  width: 30vh;
}

.aboutimg .imgleft {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.aboutimg .imgright {
  position: absolute;
  top: 65%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.aboutimg .dotimg {
  width: fit-content;
  position: absolute;
  top: 68%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.aboutimg .dotimg img {
  width: 25vh;
} */
/* ends */

/* featuredIn section */

#featuredIn {
  background-color: #def2f1;
}

/* Active Users and User Ratings */
.userdata .activeuser,
.userdata .userratings {
  text-align: center;
  margin: 2em 0;
}

.userdata .activeuser h1,
.userdata .userratings h1 {
  font-size: 50px;
  font-weight: bold;
}

.userdata .activeuser p,
.userdata .userratings p {
  font-size: 16px;
  font-weight: bold;
}

/* .userdata .activeuser i {
  color: red;
}

.userdata .userratings i {
  color: gold;
} */

/* Trusted Users */
/* .trustedusers {
  padding: 0% 0;
} */
.trustedusers h1 {
  font-size: 30px;
  text-align: left;
}

.trustedusers p {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.trustedusers ul li {
  display: inline;
  margin: 0 5%;
}

.trustedusers img {
  width: 15%;
}

/* ends */

/* features section */

#featuredIn,
#features {
  margin-top: 2%;
}

/* Features Text */
.featuretxt {
  text-align: justify;
  margin: 10% 1.5em;
}

.featuretxt h1 {
  font-size: 28px;
  font-weight: bold;
}

.featuretxt p {
  font-size: 16px;
}

.featuretxt ul li {
  padding: 1em 0;
}

.featuretxt ul li img {
  margin: 0 0.5em 0 0.5em;
}

/* Features Image */

.featureimg img {
  margin: 1% 30%;
}

/* .featureimg {
  position: relative;
  height: 50vh;
}

.featureimg .circle {
  background-color: rgb(142, 211, 216);
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.featureimg .imgleft img {
  border: 0.1em solid black;
  width: 30vh;
}

.featureimg .imgright img {
  width: 50vh;
  border-radius: 1em;
}

.featureimg .imgleft {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
  box-shadow: 0.2em 0.2em 0.5em rgb(22, 22, 22);
}

.featureimg .imgright {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  box-shadow: 0.2em 0.2em 0.2em rgb(22, 22, 22);
  border-radius: 1em;
} */
/* ends */

/* how it works section */
.howitheader {
  position: relative;
  margin: 5% 0;
}

.howitheader h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.howitrow {
  margin: 5% 0;
}

.howitrow .col-lg-4 {
  position: relative;
}

.howitrow .col-lg-4 .howimg1,
.howitrow .col-lg-4 .howimg2 {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
}
/* .howitheader .howimg1,
.howitheader .howimg2 {
  position: absolute;
  width: 30vh;
}

.howimg1 {
  top: 30%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.howimg2 {
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
} */

.div1 {
  text-align: left;
  width: 60%;
  margin: 0 0 0 20%;
}

.div2 {
  text-align: left;
  width: 60%;
  margin: 0 0 0 20%;
}

.div3 {
  text-align: left;
  width: 60%;
  margin: 0 0% 0 20%;
}

.div1 img,
.div2 img,
.div3 img {
  width: 50%;
  margin: 0 0 2em 0;
}

.div1 h2,
.div2 h2,
.div3 h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 1em 0;
}

.div1 p,
.div2 p,
.div3 p {
  font-size: 16px;
  margin: 1em 0;
}

/* .howitheader .div1,
.howitheader .div2,
.howitheader .div3 {
  padding: 1em;
}

.howitheader .div2 {
  margin: 25vh 0 0 0;
}

.howitheader .div3 {
  margin: 50vh 0 0 0;
} */

/* .howitheader .div1 h2,
.howitheader .div2 h2,
.howitheader .div3 h2 {
  text-align: center;
}

.howitheader .div1 p,
.howitheader .div2 p,
.howitheader .div3 p {
  text-align: justify;
  width: 90%;
  margin: 0 5%;
} */
/* ends */

/* Investors Section */
.invest,
.entre {
  margin: 2% 0;
}

.investbox {
  margin: 0 0 5% 0;
}

.investbox h1 {
  font-weight: bold;
  font-size: 30px;
}

.investbox .col-lg-4 {
  margin: 1% 0;
}
.invest h1,
.entre h1 {
  font-size: 30px;
}

.invest p,
.entre p {
  font-size: 16px;
}

.invest p span a,
.entre p span a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.ibox .prof .iproimg {
  width: 10%;
  float: left;
  margin-right: 0.5em;
}

.ibox .prof .iprotxt {
  margin-left: 0.5em;
}

/* ends */

/* Plans Section */
.plans h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.plans p {
  text-align: center;
  font-size: 16px;
}

.plans h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.plans h4 {
  margin: 1em 0;
  font-size: 16px;
  text-align: center;
}

.plans h4 span {
  font-size: 30px;
  font-weight: bold;
}

.planbox {
  height: 75vh;
  width: 60%;
  border: 0.2em solid black;
  border-radius: 1em;
  padding: 2em;
}

.pb1 {
  margin: 2% 40%;
}
.pb1 ul li {
  padding: 7.5% 0;
}

.pb2 ul li {
  padding: 3% 0;
}

.pb3 ul li {
  padding: 1.2% 0;
}

.pb1 p,
.pb2 p,
.pb3 p {
  padding: 1em 0;
}

.pb1 p span,
.pb2 p span,
.pb3 p span {
  background-color: #3aafa9;
  padding: 1em 3em;
  border: 0.1em solid #3aafa9;
  border-radius: 0.5em;
  color: azure;
  font-weight: bold;
}

.pb2 {
  position: relative;
  margin: 2% 20%;
}

.pb2 .ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.pb2 .ribbon::before,
.pb2 .ribbon::after {
  z-index: -1;
  display: block;
  position: absolute;
  content: "";
}

.pb2 .ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 2px 0;
  background-color: rgb(5, 36, 94);
  box-shadow: 0 0.2em 0.5em rgba(2, 2, 99, 0.63);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.6em;
  font-weight: bolder;
}

/* ribbon top right*/
.pb2 .ribbon-top-right {
  top: 0px;
  right: 0px;
}
.pb2 .ribbon-top-right::before,
.pb2 .ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.pb2 .ribbon-top-right::before {
  top: 0;
  left: 0;
}
.pb2 .ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.pb2 .ribbon-top-right span {
  left: -10px;
  top: 20px;
  transform: rotate(45deg);
}

.pb3 {
  margin: 2% 40% 2% 0;
}

/* ends */

/* FAQ */

/* ends */
