{% extends  'base.html' %}
{% load static %}
{% block content %}
<!-- Confidential Information -->
<div class="confinfo">
    <h1>Confidential Information</h1>
    <p>
        Please enter your own details here. Information entered here is not publicly displayed.
    </p>
    <div class="confinf">
        <form action="/profile" method="post" class="confform">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="confname">Your Full Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="confname"
                        value="{{user.first_name}} {{user.last_name}}"
                        placeholder="enter your name"
                    >
                </div>
                <div class="form-group col-md-6">
                    <label for="confphone">Your Mobile Number</label>
                    <input
                        type="text"
                        class="form-control"
                        id="confphone"
                        placeholder="Enter your Mobile Number"
                    >
                </div>
                <div class="form-group col-md-6">
                    <label for="confemail">Email</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        value="{{user.email}}"
                        placeholder="enter official email for quick verification"
                    >
                </div>
            </div>
        </form>
        <a href="/investor/select-plan">
            <button type="button" class="btn confbtn">Submit</button>
        </a>
    </div>
</div>
<!-- ends -->
{% endblock %}
