{% extends  'base.html' %}
{% load static %}
{% block content %}
<!-- Confidential Information -->
<div class="confinfo">
    <h1>Business Information</h1>
    <p>
        Information entered here is displayed publicly to match you with the right set of investors and buyers. Do not mention business name/information which can identify the business.
    </p>
    <div class="confinf">
        <form action="/profile" method="post" class="confform">
            <h1>Extra Information</h1>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="confprofit">Factors you look for in a business</label>
                    <input
                        type="text"
                        class="form-control"
                        id="confprofit"
                        placeholder="Factors you look for in a business"
                    >
                </div>
                <div class="form-group col-md-12">
                    <label for="confassets">About your company</label>
                    <input
                        type="text"
                        class="form-control"
                        id="confassets"
                        placeholder="About your company"
                    >
                </div>
                <div class="form-group col-md-4">
                    <div class="upload">
                        <label for="chooseimage">Add Profile Picture</label>
                        <input
                            type="file"
                            class="form-control-file"
                            id="chooseimage"
                            accept="image/*"
                            name="chooseimage"
                        >
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="upload">
                        <label for="choosedocs">Attach Corporate Profile and Terms of engagement if any</label>
                        <input
                            type="file"
                            class="form-control-file"
                            id="choosedocs"
                            accept="application/pdf, image/*"
                            multiple
                            name="choosedocs"
                        >
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="upload">
                        <label for="choosefast">Attach proof of business for faster verification</label>
                        <input
                            type="file"
                            id="choosefast"
                            accept="image/*, application/pdf"
                            multiple
                            name="choosefast"
                        >
                    </div>
                </div>
            </div>
        </form>
        <button type="submit" class="btn confbtn">Submit</button>
    </div>
</div>
<!-- ends -->
{% endblock %}
