{% extends  'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <!-- navbar -->
        {% include 'components/navbar.html' %}
        <!-- ends -->
        <!-- Privacy -->
        <div class="tnc privacy">
            <h1>Privacy Policy</h1>
            <p>
                Firmingle is dedicated protecting every bit of confidential information of our users. This Privacy Policy is applicable in addition to the terms and conditions of our site. The purpose of this privacy policy is to inform users of our platform of certain things like;  what exactly personal data we collect;  what we do to that collected data; Who has access to the data collected, The rights of site users; and the website’s cookie policy. If a user registers or submits information on our site, you agree to the use of such data as per this  this Privacy Policy.
            </p>
            <p>
                <strong>
                    What we do with the confidential information
                </strong>
            </p>
            <p>
                To achieve the purpose of users, Firmingle collects and stores your confidential information. Any confidential document shared with us will not be shared with any Third/External party; whatsoever.
            </p>
            <p>
                When a user visits or registers on our platform, we may automatically collect and store the information including Name, Email, Contact Number, IP address, Location; Clicked links; and Content viewed, etc.
            </p>
            <p>
                <strong>
                    How We Use your Personal Data
                </strong>
            </p>
            <p>
                We will never use the data of the users beyond what we disclose in this Privacy Policy. The data we collect automatically is used for Marketing purposes & Statistics.
            </p>
            <p>
                <strong>
                    How long do we retain the User data
                </strong>
            </p>
            <p>
                Firmingle retains the confidential data of users as long as the user is availing of our services & is active with our platform. In certain jurisdictions, one can request to delete all confidential information permanently.
            </p>
            <p>
                <strong>
                    Data Sharing
                </strong>
            </p>
            <p>
                We might share user data with any member of our firm who genuinely needs access to user data to achieve the purposes set out in this Privacy Policy. However, as already mentioned in this privacy policy, we will not share your data with any third party, except If the law requires it.
            </p>
            <p>
                <strong>
                    Data Protection
                </strong>
            </p>
            <p>
                We take all the necessary precautions to make sure that user data is highly secure and protected. We use high-standard browser encryption methods to make sure all the user data is safely saved on our servers.  But at the same time, we are unable to guarantee the security of user data beyond what is reasonably practical.
            </p>
            <p>
                <strong>
                    Cookie Policy
                </strong>
            </p>
            <p>
                The purpose of using cookies is to collect all the data related to the user’s browsing. While accessing our platform you will be notified if you wish to accept cookies or disable/block cookies altogether.  You can also change the settings to disable cookies entirely in your browser.
            </p>
            <h5>
                <strong>
                    P.S:
                </strong>
                We can at any point in time update our Privacy Policy with prior notice to the users; however, the users will get notified through email ids.
            </h5>
        </div>
        <!-- ends -->
    </div>
</div>
<!-- footer -->
<!-- {% include 'components/footer1.html' %} -->
<!-- ends -->
{% endblock %}
