{% extends  'base.html' %}
{% load static %}
{% block content %}
<!-- Privacy -->
<div class="tnc">
    <h1>Terms and Conditions</h1>
    <p class="tncp">
        Last updated: October 23, 2021
    </p>
    <div class="row">
        <div class="col-sm-12 col-md-auto col-lg-8 tnccol">
            <p>
                Before using any of our services, It is recommended to please go through all these terms and conditions ("Terms") which govern your use of our website/mobile application ("Platform"), and our services offered therein ("Services"). These Terms shall apply to all Services provided by Firmingle and to every user of the Platform who accesses Our Platform in whatsoever capacity, as an Investor or as an Entrepreneur.
                            These Terms are displayed by the legal requirement under the provisions of the Information Technology Act, 2000 that needs 'intermediaries' to publish the rules and regulations, privacy policy, and usage of our Platform/website and is solely governed by Rule 3 (1) of the Information Technology (Intermediaries guidelines) Rules, 2011.
            </p>
            <p id="WhatWeDo">
                <strong>
                    What We Do
                </strong>
            </p>
            <p>
                We at Firmingle connect start-ups with high-class investors, enabling them to achieve the goal of successful entrepreneurship
            </p>
            <p id="UserRegistrationDetails">
                <strong>
                    User Registration Details
                </strong>
            </p>
            <p>
                To access our Services as an Entrepreneur or Start-Up, You must be a registered member of our platform. Firmingle reserve the right to scrutinize all the details submitted by you, call upon you for any additional information, or reject your application.
            </p>
            <p>
                If your registration is successful, you will be informed by email. Your confirmation email will have also have Login details (login ID and password) needed to access Our Platform.
            </p>
            <p>
                We believe any computer system or other electronic/mobile device used to access our Platform can experience slowdowns due to huge internet traffic, transmission problems, etc. In this capacity, Firmingle does not assure continuous, uninterrupted, or secure access to its Platform.
            </p>
            <p>
                While accessing our platform from your computer system/mobile phone/ electronic device and you experience any kind of harm to your system or loss of any data from such computer system/mobile phone or electronic device, we hereby declare that Firmingle shall not be liable for such kind of harm.
            </p>
            <p id="ThirdParty">
                <strong>
                    Third-Party Content/Link
                </strong>
            </p>
            <p>
                Firmingle may contain some features and functionalities that may redirect you to third-party content and other websites. The use of such links is purely your choice.
            </p>
            <p id="UpdationOfTerms">
                <strong>
                    Updation of Terms
                </strong>
            </p>
            <p>
                We at Firmingle reserve the right to modify these Terms & Conditions at any time without any prior notice/approval of the User. Once updated, users will get a notification through email and if they can continue only after acceptance of the modified Terms & Conditions.
            </p>
            <p id="RiskDisclosures">
                <strong>
                    Risk Disclosures for Users
                </strong>
            </p>
            <p>
                Firmingle doesn’t guarantee that the objectives of the services sought will be achieved as we all know the volatility of the start-up ecosystem. Therefore, you agree that your decision to avail of our services and decide to act on any information available on the Platform or take any action relating to any Services is entirely at your own risk and your own independent decision
            </p>
            <p id="Termination">
                <strong>
                    Termination
                </strong>
            </p>
            <p>
                In case of your breach of any of these terms and conditions, Firmingle reserve the right to terminate you immediately without any prior notice.
            </p>
        </div>
        <div class="col-sm-12 col-md-auto col-lg-4">
            <div class="sectionbox">
                <p>
                    <a href="#WhatWeDo">What We Do?</a>
                </p>
                <p>
                    <a href="#UserRegistrationDetails">User Registration Details</a>
                </p>
                <p>
                    <a href="#ThirdParty">Third Party Content/ Link</a>
                </p>
                <p>
                    <a href="#UpdationOfTerms">Updation of Terms</a>
                </p>
                <p>
                    <a href="#RiskDisclosures">Risk Disclosures for Users</a>
                </p>
                <p>
                    <a href="#Termination">Termination</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- ends -->
{% endblock %}
