{% extends  'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="main">
        <div class="wrapper">
            <div class="content">
                <!-- navbar -->
                {% include 'components/navbar.html' %}
                <!-- ends -->
                <!-- Privacy -->
                <div class="tnc">
                    <h1>Terms and Conditions</h1>
                </div>
                <!-- ends -->
            </div>
            <!-- footer -->
            {% include 'components/footer.html' %}
            <!-- ends -->
        </div>
    </div>
</div>
{% endblock %}
