/* Media Queries */
/* Devices (992 to 1199.98px)*/
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* navbar */
  .logo {
    width: 20%;
  }

  .menu ul {
    width: 100%;
    margin-left: 0%;
  }

  .menu ul li {
    margin: auto;
    font-size: 18px;
  }

  .menu ul li:nth-child(1),
  .menu ul li:nth-child(2),
  .menu ul li:nth-child(3),
  .menu ul li:nth-child(4) {
    padding: 0 0.5em;
  }

  .menu ul .login,
  .menu ul .signup {
    margin: auto 2%;
    padding: 0 2em;
  }
  /* ends */

  /* Login SignUp Modal */

  .loginpop h4,
  .signuppop h4 {
    font-weight: bold;
  }

  .modallogo {
    width: 100%;
    margin: 0 0 0.5em 0%;
  }

  .modal-content {
    border-radius: 1em;
  }

  .close {
    transform: scale(1.5);
  }

  .loginpop .sign-up span,
  .signuppop .sign-up span {
    margin-top: 1em;
    cursor: pointer;
  }

  .loginpop .sign-up span:hover,
  .signuppop .sign-up span:hover {
    color: rgb(5, 36, 94);
    font-weight: 600;
  }

  /* Login SignUp Modal ends */

  /* footer */

  footer .inputsubs input {
    height: 5vh;
  }

  footer h2 {
    font-size: 28px;
  }

  footer p {
    font-size: 16px;
  }

  footer .inputsubs span button {
    background-color: #3aafa9;
    height: 5vh;
    text-align: center;
    border: 0.1em solid #3aafa9;
    margin: 0 0.5em 0 0.5em;
    padding: 0 1em;
    color: white;
    font-size: 18px;
  }

  footer .inputsubs span button:hover {
    color: rgb(5, 36, 94);
    font-weight: 600;
  }

  footer a:hover {
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  /* footer ends */

  /* homePage Section */
  .homePage {
    margin: 2em 0;
  }

  /* About Section */
  .aboutcompany {
    margin: 5% 1em;
    width: 90%;
    padding: 0 5%;
  }

  .aboutcompany h1 {
    font-size: 40px;
    font-weight: bold;
  }

  .aboutcompany p {
    font-size: 16px;
  }

  .aboutcompany a:hover {
    text-decoration: none;
  }

  .aboutcompany .getstarted {
    background-color: #3aafa9;
    padding: 1em 1em;
    border: 0.1em solid #3aafa9;
    width: fit-content;
    border-radius: 0.5em;
  }

  .aboutcompany .getstarted a {
    color: white;
  }

  /* Image Section */
  .aboutimg img {
    width: 100%;
    margin: 20% 0;
  }
  /* ends */

  /* featuredIn section */

  #featuredIn {
    background-color: #def2f1;
    padding: 1em 0;
  }

  .featrow {
    padding: 5em 0;
  }

  .featrow .userrate {
    padding: 2em 5%;
  }

  .featrow .userrate h1 {
    font-size: 70px;
    font-weight: bold;
  }

  .trustedusers h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 3em 0;
  }

  .trustedusers ul li {
    display: inline-block;
    margin-right: 5%;
    width: 25%;
  }

  .trustedusers ul li img {
    width: 100%;
  }

  /* ends */

  /* features section */
  #features {
    margin-top: 5em;
    padding: 1em 0;
  }
  /* Features Text */
  .featuretxt {
    text-align: justify;
    margin: 5% 1.5em;
    padding: 0 5%;
  }

  .featuretxt h1 {
    font-size: 28px;
    font-weight: bold;
  }

  .featuretxt p {
    font-size: 16px;
  }

  .featuretxt ul li {
    padding: 1em 0;
  }

  .featuretxt ul li img {
    margin: 0 0;
  }

  /* Features Image */
  .featureimg {
    padding: 2em 0%;
  }

  .featureimg img {
    width: 100%;
  }
  /* ends */

  /* how it works section */
  .howitheader {
    height: fit-content;
    margin: 2em 0;
    padding: 2em 0;
  }

  .howitheader h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 1em 0;
  }

  .howitrow {
    padding: 2em;
  }

  .howitrow .col-lg-4 {
    position: relative;
  }

  .howitrow .col-lg-4 .howimg1 {
    position: absolute;
    top: 15%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 45%;
  }

  .div1 {
    width: 80%;
    margin: auto;
    text-align: justify;
  }

  .div1 .divtxt {
    margin-top: 1em;
  }

  .div1 h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 1em 0;
  }

  .div1 p {
    font-size: 16px;
  }

  .div1 .divimg {
    width: 100%;
    padding: 1em;
  }
  .div1 .divimg img {
    width: 70%;
  }
  /* ends */

  /* Investors Section */
  .invest,
  .entre {
    margin: 5em 0;
  }

  .investbox {
    margin: 0 0 5% 0;
  }

  .investbox h1 {
    font-weight: bold;
    font-size: 30px;
  }

  .investbox .col-lg-4 {
    margin: 1% 0;
  }
  .invest h1,
  .entre h1 {
    font-size: 30px;
  }

  .invest p,
  .entre p {
    font-size: 16px;
  }

  .invest p span a,
  .entre p span a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }

  .ibox .prof .iproimg {
    width: 10%;
    float: left;
    margin-right: 0.5em;
  }

  .ibox .prof .iprotxt {
    margin-left: 0.5em;
  }

  .ibox .browsetable .btn {
    background-color: #3aafa9 !important;
    width: 100%;
  }

  .investbox .ibox {
    background-color: #def2f1;
    width: 100%;
    margin: 3% auto;
    padding: 3%;
    border-radius: 0.5em;
  }

  .ibox ul li {
    margin: 0.5em 0 0 0;
    display: inline-block;
    margin: 0 0.5em 0 0;
  }

  .ibox table {
    width: 100%;
  }

  .ibox table tr td {
    padding: 0.5em 0;
  }

  .investbox .iproimg img {
    width: 100%;
    margin: auto;
  }

  .investbox .tweetboximg img {
    width: 90%;
    margin: 0 5%;
  }
  /* ends */

  /* Dashboard */
  .dash {
    margin: 2% 0;
  }

  .profilebx {
    background-color: white;
    margin: 10% 0;
    padding: 5% 0;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
  }

  .profileimg .proimg img {
    width: 100%;
    margin: 3% 0%;
  }

  .profileimg .protxt {
    padding: 8% 0%;
  }

  .protxtdiv {
    font-size: 16px;
  }

  .profileimg .protxtdiv span {
    color: rgb(59, 59, 59);
    margin: 0 -4em;
  }

  .profileimg .proedit {
    padding: 0% 7%;
  }

  .profileimg .proedit i {
    font-size: 18px;
    float: right;
  }

  .profileinfo ul li {
    display: inline-block;
    width: 100%;
    text-align: justify;
    margin: 0% 0%;
  }

  .profileinfo ul li h1 {
    font-size: 20px;
    padding: 0 10%;
  }

  .profileinfo ul li p {
    font-size: 14px;
    padding: 0 10%;
  }

  .profilebx hr {
    background-color: rgba(59, 59, 59, 0.808);
    width: 90%;
    margin: 2% 5%;
  }

  .prodetail ul li {
    display: inline-block;
    width: fit-content;
    margin: 0% 10%;
    padding: 0 2%;
    text-align: center;
  }

  .profilebx .btnpro {
    margin: 5% 0% 0% 0%;
    text-align: center;
  }

  .profilebx .probtn {
    padding: 2% 5%;
    margin: 0% 0%;
    background-color: #3aafa9;
    color: white;
    border-radius: 0.5em;
  }

  /* Recent Articles */
  .recentboard h1 {
    font-size: 30px;
  }

  .recentboard span {
    font-size: 24px;
  }

  .recentboard p {
    font-size: 16px;
  }

  .recentbx {
    background-color: white;
    border-radius: 1em;
    padding: 0 5%;
    margin: 0 0 5% 0;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
  }

  .recentbximg {
    width: 100%;
    border-radius: 1em;
    padding: 5% 0 0 0;
  }

  .recentbximg img {
    width: 100%;
    height: 50%;
    border-radius: 1em;
  }

  .recentbxtxt {
    padding: 0 0 0.5em 0;
  }
  /* ends */

  /* News Board */

  .newsboard {
    padding: 0 2% 2% 2%;
  }

  .newsboard .latestbx {
    background-color: white;
    padding: 3% 3% 2% 5%;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
    margin: 3% 0;
  }

  .newsboard h1 {
    font-size: 30px;
    font-weight: bold;
  }

  .newsboard h2 {
    font-size: 30px;
  }

  .newsboard p {
    font-size: 16px;
  }
  .newsboard .welcomebx ul li p {
    background-color: white;
    width: fit-content;
    padding: 5% 0%;
    font-size: 16px;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
    border: 0.1em solid #3aafa9;
    margin: 2% 0 0 0;
  }

  .newsboard .welcomebx ul li p i {
    font-size: 50px;
    float: left;
    margin: 5% 5%;
    color: #3aafa9;
  }

  .newsboard .latestbx ul li {
    display: inline-block;
    width: 45%;
  }

  .newsboard .latestbx span {
    margin: 0.5em 0 !important;
  }
  /* ends */
  /* Details Page */
  .detail {
    padding: 2em;
  }

  .detail h1 {
    font-size: 24px;
    font-weight: bold;
  }

  .detail h2 {
    font-size: 18px;
    font-weight: bold;
  }

  .detail p {
    font-size: 16px;
  }

  .detailcardimg {
    padding: 1em;
    margin-bottom: 2em;
  }

  .detail .detailimg {
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 1em;
  }

  .detail .detailimg img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
  }
  /* ends */
  /* Browse Profile */
  .open {
    cursor: pointer;
    display: block;
    width: 5%;
    margin-left: 90%;
    margin-top: -8%;
  }

  .open .question {
    font-weight: bold;
    color: #3aafa9;
    font-size: 20px;
    padding-right: 50px;
    margin-left: 0%;
    width: fit-content;
    margin-top: -5%;
  }
  .open span {
    margin-top: 0.5em;
  }

  .open:hover {
    opacity: 0.7;
  }
  /* .expanded {
  transition: all 0.3s ease-in-out;
} */

  .question {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
  }

  .faq-t {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    float: right;
    position: relative;
    top: -55px;
    right: -30px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-left: 2px solid blue;
    border-bottom: 2px solid blue;
    transition: all 0.3s ease-in-out;
  }

  /* ends */
}

/* Large Devices (1200px to 1439.98) */
@media screen and (min-width: 1200px) and (max-width: 1439.98px) {
  /* navbar */
  .logo {
    width: 20%;
  }

  .menu ul {
    width: 80%;
    margin-left: 20%;
  }

  .menu ul li {
    margin: auto;
    font-size: 18px;
  }

  .menu ul li:nth-child(1),
  .menu ul li:nth-child(2),
  .menu ul li:nth-child(3),
  .menu ul li:nth-child(4) {
    padding: 0 0.5em;
  }

  .menu ul .login,
  .menu ul .signup {
    margin: auto 2%;
    padding: 0 2em;
  }
  /* ends */

  /* Login SignUp Modal */

  .loginpop h4,
  .signuppop h4 {
    font-weight: bold;
  }

  .modallogo {
    width: 100%;
    margin: 0 0 0.5em 0%;
  }

  .modal-content {
    border-radius: 1em;
  }

  .close {
    transform: scale(1.5);
  }

  .loginpop .sign-up span,
  .signuppop .sign-up span {
    margin-top: 1em;
    cursor: pointer;
  }

  .loginpop .sign-up span:hover,
  .signuppop .sign-up span:hover {
    color: rgb(5, 36, 94);
    font-weight: 600;
  }

  /* Login SignUp Modal ends */

  /* footer */
  footer .inputsubs input {
    height: 5vh;
  }

  footer h2 {
    font-size: 28px;
  }

  footer p {
    font-size: 16px;
  }

  footer .inputsubs span button {
    background-color: #3aafa9;
    height: 5vh;
    text-align: center;
    border: 0.1em solid #3aafa9;
    margin: 0 0.5em 0 0.5em;
    padding: 0 1em;
    color: white;
    font-size: 18px;
  }

  footer .inputsubs span button:hover {
    color: rgb(5, 36, 94);
    font-weight: 600;
  }

  footer a:hover {
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  /* footer ends */

  /* homePage Section */
  .homePage {
    margin: 2em 0;
  }

  /* About Section */
  .aboutcompany {
    margin: 5% 1em;
    width: 90%;
    padding: 0 5%;
  }

  .aboutcompany h1 {
    font-size: 40px;
    font-weight: bold;
  }

  .aboutcompany p {
    font-size: 16px;
  }

  .aboutcompany a:hover {
    text-decoration: none;
  }

  .aboutcompany .getstarted {
    background-color: #3aafa9;
    padding: 1em 1em;
    border: 0.1em solid #3aafa9;
    width: fit-content;
    border-radius: 0.5em;
  }

  .aboutcompany .getstarted a {
    color: white;
  }

  /* Image Section */
  .aboutimg img {
    width: 100%;
    margin: 20% 0;
  }
  /* ends */

  /* featuredIn section */

  #featuredIn {
    background-color: #def2f1;
    padding: 1em 0;
  }

  .featrow {
    padding: 5em 0;
  }

  .featrow .userrate {
    padding: 2em 5%;
  }

  .featrow .userrate h1 {
    font-size: 70px;
    font-weight: bold;
  }

  .trustedusers h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 3em 0;
  }

  .trustedusers ul li {
    display: inline-block;
    margin-right: 5%;
    width: 25%;
  }

  .trustedusers ul li img {
    width: 100%;
  }

  /* ends */

  /* features section */
  #features {
    margin-top: 5em;
    padding: 1em 0;
  }
  /* Features Text */
  .featuretxt {
    text-align: justify;
    margin: 5% 1.5em;
    padding: 0 5%;
  }

  .featuretxt h1 {
    font-size: 28px;
    font-weight: bold;
  }

  .featuretxt p {
    font-size: 16px;
  }

  .featuretxt ul li {
    padding: 1em 0;
  }

  .featuretxt ul li img {
    margin: 0 0;
  }

  /* Features Image */
  .featureimg {
    padding: 2em 0%;
  }

  .featureimg img {
    width: 100%;
  }
  /* ends */

  /* how it works section */
  .howitheader {
    height: fit-content;
    margin: 2em 0;
    padding: 2em 0;
  }

  .howitheader h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 1em 0;
  }

  .howitrow {
    padding: 2em;
  }

  .howitrow .col-lg-4 {
    position: relative;
  }

  .howitrow .col-lg-4 .howimg1 {
    position: absolute;
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 45%;
  }

  .div1 {
    width: 80%;
    margin: auto;
    text-align: justify;
  }

  .div1 .divtxt {
    margin-top: 1em;
  }

  .div1 h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 1em 0;
  }

  .div1 p {
    font-size: 16px;
  }

  .div1 .divimg {
    width: 100%;
    padding: 1em;
  }
  .div1 .divimg img {
    width: 70%;
  }
  /* ends */

  /* Investors Section */
  .invest,
  .entre {
    margin: 5em 0;
  }

  .investbox {
    margin: 0 0 5% 0;
  }

  .investbox h1 {
    font-weight: bold;
    font-size: 30px;
  }

  .investbox .col-lg-4 {
    margin: 1% 0;
  }
  .invest h1,
  .entre h1 {
    font-size: 30px;
  }

  .invest p,
  .entre p {
    font-size: 16px;
  }

  .invest p span a,
  .entre p span a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }

  .ibox .prof .iproimg {
    width: 10%;
    float: left;
    margin-right: 0.5em;
  }

  .ibox .prof .iprotxt {
    margin-left: 0.5em;
  }

  .ibox .browsetable .btn {
    background-color: #3aafa9 !important;
    width: 100%;
  }

  .investbox .ibox {
    background-color: #def2f1;
    width: 100%;
    margin: 3% auto;
    padding: 3%;
    border-radius: 0.5em;
  }

  .ibox ul li {
    margin: 0.5em 0 0 0;
    display: inline-block;
    margin: 0 0.5em 0 0;
  }

  .ibox table {
    width: 100%;
  }

  .ibox table tr td {
    padding: 0.5em 0;
  }

  .investbox .iproimg img {
    width: 100%;
    margin: auto;
  }

  .investbox .tweetboximg img {
    width: 90%;
    margin: 0 5%;
  }
  /* ends */

  /* Dashboard */
  .dash {
    margin: 2% 0;
  }

  .profilebx {
    background-color: white;
    margin: 10% 0;
    padding: 5% 0;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
  }

  .profileimg .proimg img {
    width: 100%;
    margin: 3% 0%;
  }

  .profileimg .protxt {
    padding: 0% 0%;
  }

  .protxtdiv {
    font-size: 16px;
  }

  .profileimg .protxt span {
    color: rgb(59, 59, 59);
    margin: 0 -1em;
  }

  .profileimg .proedit {
    padding: 2% 0%;
  }

  .profileimg .proedit i {
    font-size: 18px;
    float: right;
    margin: -2% 1em;
  }

  .profileinfo ul li {
    display: inline-block;
    width: 100%;
    text-align: justify;
    margin: 0% 0%;
  }

  .profileinfo ul li h1 {
    font-size: 20px;
    padding: 0 10%;
  }

  .profileinfo ul li p {
    font-size: 14px;
    padding: 0 10%;
  }

  .profilebx hr {
    background-color: rgba(59, 59, 59, 0.808);
    width: 90%;
    margin: 2% 5%;
  }

  .prodetail ul li {
    display: inline-block;
    width: fit-content;
    margin: 0% 10%;
    padding: 0 2%;
    text-align: center;
  }

  .profilebx .btnpro {
    margin: 5% 0% 0% 0%;
    text-align: center;
  }

  .profilebx .probtn {
    padding: 2% 5%;
    margin: 0% 0%;
    background-color: #3aafa9;
    color: white;
    border-radius: 0.5em;
  }

  /* Recent Articles */
  .recentboard h1 {
    font-size: 30px;
  }

  .recentboard span {
    font-size: 18px;
  }

  .recentboard p {
    font-size: 16px;
  }

  .recentbx {
    background-color: white;
    border-radius: 1em;
    padding: 0 5%;
    margin: 0 0 5% 0;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
  }

  .recentbximg {
    width: 100%;
    border-radius: 1em;
    padding: 5% 0 0 0;
  }

  .recentbximg img {
    width: 100%;
    height: 50%;
    border-radius: 1em;
  }

  .recentbxtxt {
    padding: 0 0 0.5em 0;
  }
  /* ends */

  /* News Board */

  .newsboard {
    padding: 0 2% 2% 2%;
  }

  .newsboard .latestbx {
    background-color: white;
    padding: 3% 3% 2% 5%;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
    margin: 3% 0;
  }

  .newsboard h1 {
    font-size: 30px;
    font-weight: bold;
  }

  .newsboard h2 {
    font-size: 30px;
  }

  .newsboard p {
    font-size: 16px;
  }
  .newsboard .welcomebx ul li p {
    background-color: white;
    width: fit-content;
    padding: 5% 3%;
    font-size: 16px;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.7em rgba(63, 62, 62, 0.445);
    border: 0.1em solid #3aafa9;
    margin: 2% 0 0 0;
  }

  .newsboard .welcomebx ul li p i {
    font-size: 50px;
    float: left;
    margin: 1% 5%;
    color: #3aafa9;
  }

  .newsboard .latestbx ul li {
    display: inline-block;
    width: 45%;
  }

  .newsboard .latestbx span {
    margin: 0.5em 0 !important;
  }
  /* ends */

  /* Details Page */
  .detail {
    padding: 2em;
  }

  .detail h1 {
    font-size: 24px;
    font-weight: bold;
  }

  .detail h2 {
    font-size: 18px;
    font-weight: bold;
  }

  .detail p {
    font-size: 16px;
  }

  .detailcardimg {
    padding: 1em;
    margin-bottom: 2em;
  }

  .detail .detailimg {
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 1em;
  }

  .detail .detailimg img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
  }
  /* ends */

  /* Browse Profile */
  .open {
    cursor: pointer;
    display: block;
    width: 5%;
    margin-left: 90%;
    margin-top: -7%;
  }

  .open .question {
    font-weight: bold;
    color: #3aafa9;
    font-size: 20px;
    padding-right: 50px;
    margin-left: 0%;
    width: fit-content;
    margin-top: -5%;
  }
  .open span {
    margin-top: 0.5em;
  }

  .open:hover {
    opacity: 0.7;
  }
  /* .expanded {
  transition: all 0.3s ease-in-out;
} */

  .question {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
  }

  .faq-t {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    float: right;
    position: relative;
    top: -55px;
    right: -30px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-left: 2px solid blue;
    border-bottom: 2px solid blue;
    transition: all 0.3s ease-in-out;
  }

  /* ends */
}

/* Extra Large Devices (1440px and above) */
@media screen and (min-width: 1440px) and (max-width: 1779.98px) {
  /* navbar */
  .logo {
    width: 15%;
  }

  .menu ul {
    width: 60%;
    margin-left: 40%;
  }

  .menu ul li {
    margin: auto;
    font-size: 18px;
  }

  .menu ul li:nth-child(1),
  .menu ul li:nth-child(2),
  .menu ul li:nth-child(3),
  .menu ul li:nth-child(4) {
    padding: 0 0.5em;
  }

  .menu ul .login,
  .menu ul .signup {
    margin: auto 2%;
    padding: 0 2em;
  }
  /* ends */

  /* Login SignUp Modal */

  .loginpop h4,
  .signuppop h4 {
    font-weight: bold;
  }

  .modallogo {
    width: 100%;
    margin: 0 0 0.5em 0%;
  }

  .modal-content {
    border-radius: 1em;
  }

  .close {
    transform: scale(1.5);
  }

  .loginpop .sign-up span,
  .signuppop .sign-up span {
    margin-top: 1em;
    cursor: pointer;
  }

  .loginpop .sign-up span:hover,
  .signuppop .sign-up span:hover {
    color: rgb(5, 36, 94);
    font-weight: 600;
  }

  /* Login SignUp Modal ends */

  /* footer */
  footer .inputsubs input {
    height: 5vh;
  }

  footer h2 {
    font-size: 28px;
  }

  footer p {
    font-size: 16px;
  }

  footer .inputsubs span button {
    background-color: #3aafa9;
    height: 5vh;
    text-align: center;
    border: 0.1em solid #3aafa9;
    margin: 0 0.5em 0 0.5em;
    padding: 0 1em;
    color: white;
    font-size: 18px;
  }

  footer .inputsubs span button:hover {
    color: rgb(5, 36, 94);
    font-weight: 600;
  }

  footer a:hover {
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  /* footer ends */

  /* homePage Section */
  .homePage {
    margin: 2em 0;
  }

  /* About Section */
  .aboutcompany {
    margin: 5% 1em;
    width: 90%;
    padding: 0 5%;
  }

  .aboutcompany h1 {
    font-size: 40px;
    font-weight: bold;
  }

  .aboutcompany p {
    font-size: 16px;
  }

  .aboutcompany a:hover {
    text-decoration: none;
  }

  .aboutcompany .getstarted {
    background-color: #3aafa9;
    padding: 1em 1em;
    border: 0.1em solid #3aafa9;
    width: fit-content;
    border-radius: 0.5em;
  }

  .aboutcompany .getstarted a {
    color: white;
  }

  /* Image Section */
  .aboutimg img {
    width: 100%;
    margin: 5% 0;
  }
  /* ends */

  /* featuredIn section */

  #featuredIn {
    background-color: #def2f1;
    padding: 1em 0;
  }

  .featrow {
    padding: 5em 0;
  }

  .featrow .userrate {
    padding: 2em 5%;
  }

  .featrow .userrate h1 {
    font-size: 70px;
    font-weight: bold;
  }

  .trustedusers h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 3em 0;
  }

  .trustedusers ul li {
    display: inline-block;
    margin-right: 5%;
    width: 25%;
  }

  .trustedusers ul li img {
    width: 100%;
  }

  /* ends */

  /* features section */
  #features {
    margin-top: 5em;
    padding: 1em 0;
  }
  /* Features Text */
  .featuretxt {
    text-align: justify;
    margin: 5% 1.5em;
    padding: 0 5%;
  }

  .featuretxt h1 {
    font-size: 28px;
    font-weight: bold;
  }

  .featuretxt p {
    font-size: 16px;
  }

  .featuretxt ul li {
    padding: 1em 0;
  }

  .featuretxt ul li img {
    margin: 0 0;
  }

  /* Features Image */
  .featureimg {
    padding: 2em 10%;
  }

  .featureimg img {
    width: 90%;
  }
  /* ends */

  /* how it works section */
  .howitheader {
    height: fit-content;
    margin: 2em 0;
    padding: 2em 0;
  }

  .howitheader h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 1em 0;
  }

  .howitrow {
    padding: 2em;
  }

  .howitrow .col-lg-4 {
    position: relative;
  }

  .howitrow .col-lg-4 .howimg1 {
    position: absolute;
    top: 25%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 35%;
  }

  .div1 {
    width: 80%;
    margin: auto;
    text-align: justify;
  }

  .div1 .divtxt {
    margin-top: 1em;
  }

  .div1 h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 1em 0;
  }

  .div1 p {
    font-size: 16px;
  }

  .div1 .divimg {
    width: 100%;
    padding: 1em;
  }
  .div1 .divimg img {
    width: 70%;
  }
  /* ends */

  /* Investors Section */
  .invest,
  .entre {
    margin: 5em 0;
  }

  .investbox {
    margin: 0 0 5% 0;
  }

  .investbox h1 {
    font-weight: bold;
    font-size: 30px;
  }

  .investbox .col-lg-4 {
    margin: 1% 0;
  }
  .invest h1,
  .entre h1 {
    font-size: 30px;
  }

  .invest p,
  .entre p {
    font-size: 16px;
  }

  .invest p span a,
  .entre p span a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }

  .ibox .prof .iproimg {
    width: 10%;
    float: left;
    margin-right: 0.5em;
  }

  .ibox .prof .iprotxt {
    margin-left: 0.5em;
  }

  .ibox .browsetable .btn {
    background-color: #3aafa9 !important;
    width: 100%;
  }

  .investbox .ibox {
    background-color: #def2f1;
    width: 100%;
    margin: 3% auto;
    padding: 3%;
    border-radius: 0.5em;
  }

  .ibox ul li {
    margin: 0.5em 0 0 0;
    display: inline-block;
    margin: 0 0.5em 0 0;
  }

  .ibox table {
    width: 100%;
  }

  .ibox table tr td {
    padding: 0.5em 0;
  }

  .investbox .iproimg img {
    width: 100%;
    margin: auto;
  }

  .investbox .tweetboximg img {
    width: 90%;
    margin: 0 5%;
  }
  /* ends */

  .protxtdiv {
    font-size: 16px;
  }
  .profilebx .btnpro {
    margin: 5% 0% 0% 0%;
    text-align: center;
  }

  .profilebx .probtn {
    padding: 2% 5%;
    margin: 0% 0%;
    background-color: #3aafa9;
    color: white;
    border-radius: 0.5em;
    width: 100%;
  }
  /* ends */

  /* Details Page */
  .detail {
    padding: 2em;
  }

  .detail h1 {
    font-size: 24px;
    font-weight: bold;
  }

  .detail h2 {
    font-size: 18px;
    font-weight: bold;
  }

  .detail p {
    font-size: 16px;
  }

  .detailcardimg {
    background-color: red;
    padding: 1em;
    margin-bottom: 2em;
  }

  .detail .detailimg {
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 1em;
  }

  .detail .detailimg img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
  }
  /* ends */

  /* Browse Profile */
  .open {
    cursor: pointer;
    display: block;
    width: 5%;
    margin-left: 95%;
    margin-top: -5%;
  }

  .open .question {
    font-weight: bold;
    color: #3aafa9;
    font-size: 20px;
    padding-right: 50px;
    margin-left: 0%;
    width: fit-content;
    margin-top: -5%;
  }
  .open span {
    margin-top: 0.5em;
  }

  .open:hover {
    opacity: 0.7;
  }
  /* .expanded {
  transition: all 0.3s ease-in-out;
} */

  .question {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
  }

  .faq-t {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    float: right;
    position: relative;
    top: -55px;
    right: -10px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-left: 2px solid blue;
    border-bottom: 2px solid blue;
    transition: all 0.3s ease-in-out;
  }

  /* ends */
}
