/* homePage Section */
.homePage {
  margin: 2em 0;
}

/* About Section */
.aboutcompany {
  margin: 5% 1em;
  width: 90%;
  padding: 0 5%;
}

.aboutcompany h1 {
  font-size: 60px;
  font-weight: bold;
}

.aboutcompany p {
  font-size: 16px;
}

.aboutcompany a:hover {
  text-decoration: none;
}

.aboutcompany .getstarted {
  background-color: #3aafa9;
  padding: 1em 1em;
  border: 0.1em solid #3aafa9;
  width: fit-content;
  border-radius: 0.5em;
}

.aboutcompany .getstarted a {
  color: white;
}

/* Image Section */
.aboutimg img {
  width: 80%;
  margin: auto 10%;
}
/* ends */

/* featuredIn section */

#featuredIn {
  background-color: #def2f1;
  padding: 1em 0;
}

.featrow {
  padding: 5em 0;
}

.featrow .userrate {
  padding: 2em 5%;
}

.featrow .userrate h1 {
  font-size: 70px;
  font-weight: bold;
}

.trustedusers h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 3em 0;
}

.trustedusers ul li {
  display: inline-block;
  margin-right: 10%;
}

.trustedusers ul li img {
  width: 50%;
}

/* ends */

/* features section */
#features {
  margin-top: 3em;
}
/* Features Text */
.featuretxt {
  text-align: justify;
  margin: 10% 1.5em;
  padding: 0 5%;
}

.featuretxt h1 {
  font-size: 28px;
  font-weight: bold;
}

.featuretxt p {
  font-size: 16px;
}

.featuretxt ul li {
  padding: 1em 0;
}

.featuretxt ul li img {
  margin: 0 0.5em 0 0.5em;
}

/* Features Image */
.featureimg {
  padding: 1em 22.5%;
}
/* ends */

/* how it works section */
.howitheader {
  height: fit-content;
  margin: 2em 0;
  padding: 2em 0;
}

.howitheader h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 1em 0;
}

.howitrow {
  padding: 2em;
}

.howitrow .col-lg-4 {
  position: relative;
}

.howitrow .col-lg-4 .howimg1 {
  position: absolute;
  top: 20%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 35%;
}

.div1 {
  width: 70%;
  margin: auto;
  text-align: justify;
}

.div1 .divtxt {
  margin-top: 1em;
}

.div1 h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 1em 0;
}

.div1 p {
  font-size: 16px;
}
/* ends */

/* Investors Section */
.invest,
.entre {
  margin: 5em 0;
}

.investbox {
  margin: 0 0 5% 0;
}

.investbox h1 {
  font-weight: bold;
  font-size: 30px;
}

.investbox .col-lg-4 {
  margin: 1% 0;
}
.invest h1,
.entre h1 {
  font-size: 30px;
}

.invest p,
.entre p {
  font-size: 16px;
}

.invest p span a,
.entre p span a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.ibox .prof .iproimg {
  width: 10%;
  float: left;
  margin-right: 0.5em;
}

.ibox .prof .iprotxt {
  margin-left: 0.5em;
}

.ibox .browsetable .btn {
  background-color: #3aafa9 !important;
  width: 100%;
}

.investbox .ibox {
  background-color: #def2f1;
  width: 70%;
  margin: 3% auto;
  padding: 3%;
  border-radius: 0.5em;
}

.ibox ul li {
  margin: 0.5em 0 0 0;
  display: inline-block;
  margin: 0 0.5em 0 0;
}

.ibox table {
  width: 100%;
}

.ibox table tr td {
  padding: 0.5em 0;
}

.investbox .iproimg img {
  width: 100%;
  margin: auto;
}

.investbox .tweetboximg img {
  width: 70%;
  margin: 0 15%;
}
/* ends */

/* Plans Section */
/* .plans h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.plans p {
  text-align: center;
  font-size: 16px;
}

.plans h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.plans h4 {
  margin: 1em 0;
  font-size: 16px;
  text-align: center;
}

.plans h4 span {
  font-size: 30px;
  font-weight: bold;
}

.planbox {
  height: 75vh;
  width: 60%;
  border: 0.2em solid black;
  border-radius: 1em;
  padding: 2em;
}

.pb1 {
  margin: 2% 40%;
}
.pb1 ul li {
  padding: 7.5% 0;
}

.pb2 ul li {
  padding: 3% 0;
}

.pb3 ul li {
  padding: 1.2% 0;
}

.pb1 p,
.pb2 p,
.pb3 p {
  padding: 1em 0;
}

.pb1 p span,
.pb2 p span,
.pb3 p span {
  background-color: #3aafa9;
  padding: 1em 3em;
  border: 0.1em solid #3aafa9;
  border-radius: 0.5em;
  color: azure;
  font-weight: bold;
}

.pb2 {
  position: relative;
  margin: 2% 20%;
}

.pb2 .ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.pb2 .ribbon::before,
.pb2 .ribbon::after {
  z-index: -1;
  display: block;
  position: absolute;
  content: "";
}

.pb2 .ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 2px 0;
  background-color: rgb(5, 36, 94);
  box-shadow: 0 0.2em 0.5em rgba(2, 2, 99, 0.63);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.6em;
  font-weight: bolder;
} */

/* ribbon top right*/
/* .pb2 .ribbon-top-right {
  top: 0px;
  right: 0px;
}
.pb2 .ribbon-top-right::before,
.pb2 .ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.pb2 .ribbon-top-right::before {
  top: 0;
  left: 0;
}
.pb2 .ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.pb2 .ribbon-top-right span {
  left: -10px;
  top: 20px;
  transform: rotate(45deg);
}

.pb3 {
  margin: 2% 40% 2% 0;
} */

/* ends */
